In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("C:\\Users\\HP\\Downloads\\Predictive modeling.xlsx")
df.head()

,Payment,ID,City,gender,Age,Nature_Sign,Industry,Profession,Credit_Score,platform,...,AltInv_Silver,Total_Liabilities,Housing_Loan,Auto_Loan,Personal_Loan,Consumer_Loan,Credit_Card,Education_Loan,Gold_Loan,Other_loan
0,Not Paid,dc949d3e-db28-499f,Rajkot,Male,41,Eagle,Education & Training,Professor,750.0,android,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Not Paid,bb5b4f8a-6d18-47b5,Mumbai,Male,35,Turtle,NaN,NaN,750.0,ios,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Not Paid,4058d768-2deb-4289,Bangalore,Male,39,Turtle,NaN,NaN,864.0,ios,...,0.0,3100000.0,3100000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Not Paid,52aa110e-4ff7-411b,Nadia district,Male,21,Turtle,Student,Trading+ business,NaN,android,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Not Paid,49a31680-6cf4-4a66,Delhi,Male,28,Turtle,Software & IT Services,Software Developer,753.0,android,...,0.0,1310000.0,0.0,0.0,1310000.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df1 = df.copy() # make copy of dataset

In [4]:
# Check the copy 
df1.head()

,Payment,ID,City,gender,Age,Nature_Sign,Industry,Profession,Credit_Score,platform,...,AltInv_Silver,Total_Liabilities,Housing_Loan,Auto_Loan,Personal_Loan,Consumer_Loan,Credit_Card,Education_Loan,Gold_Loan,Other_loan
0,Not Paid,dc949d3e-db28-499f,Rajkot,Male,41,Eagle,Education & Training,Professor,750.0,android,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Not Paid,bb5b4f8a-6d18-47b5,Mumbai,Male,35,Turtle,NaN,NaN,750.0,ios,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Not Paid,4058d768-2deb-4289,Bangalore,Male,39,Turtle,NaN,NaN,864.0,ios,...,0.0,3100000.0,3100000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Not Paid,52aa110e-4ff7-411b,Nadia district,Male,21,Turtle,Student,Trading+ business,NaN,android,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Not Paid,49a31680-6cf4-4a66,Delhi,Male,28,Turtle,Software & IT Services,Software Developer,753.0,android,...,0.0,1310000.0,0.0,0.0,1310000.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df1 = df.drop('ID', axis=1)
df1.head()

,Payment,City,gender,Age,Nature_Sign,Industry,Profession,Credit_Score,platform,device_model,...,AltInv_Silver,Total_Liabilities,Housing_Loan,Auto_Loan,Personal_Loan,Consumer_Loan,Credit_Card,Education_Loan,Gold_Loan,Other_loan
0,Not Paid,Rajkot,Male,41,Eagle,Education & Training,Professor,750.0,android,samsung::SM-M346B,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Not Paid,Mumbai,Male,35,Turtle,NaN,NaN,750.0,ios,iPhone12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Not Paid,Bangalore,Male,39,Turtle,NaN,NaN,864.0,ios,iPhone13,...,0.0,3100000.0,3100000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Not Paid,Nadia district,Male,21,Turtle,Student,Trading+ business,NaN,android,realme::RMX3392,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Not Paid,Delhi,Male,28,Turtle,Software & IT Services,Software Developer,753.0,android,motorola::motorola edge 50 fusion,...,0.0,1310000.0,0.0,0.0,1310000.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# check data 
df1.describe()

,Age,Credit_Score,income_lac,assest_cr,Liabilities_cr,VUA,FBS_Latest,Total_Assets,Real_Estate,Equity,...,AltInv_Silver,Total_Liabilities,Housing_Loan,Auto_Loan,Personal_Loan,Consumer_Loan,Credit_Card,Education_Loan,Gold_Loan,Other_loan
count,9610.000000,8758.000000,9610.000000,9605.000000,9479.000000,9.605000e+03,9577.000000,9.605000e+03,9.605000e+03,9.605000e+03,...,9.605000e+03,9.479000e+03,9.479000e+03,9.479000e+03,9.479000e+03,9.479000e+03,9.479000e+03,9.479000e+03,9.479000e+03,9.479000e+03
mean,34.770864,773.137474,29.264149,1.585376,0.206642,1.789303e+00,52.977237,1.585376e+07,9.020274e+06,3.472819e+06,...,4.392871e+03,2.066425e+06,1.539127e+06,1.411817e+05,2.119013e+05,5.607219e+03,1.102349e+04,2.163032e+04,5.752129e+03,1.302013e+05
std,7.318480,59.364724,43.247297,8.598594,0.407453,8.646005e+00,13.150807,8.598594e+07,5.390687e+07,2.786137e+07,...,4.894187e+04,4.074527e+06,3.589976e+06,4.573043e+05,1.227506e+06,1.678287e+05,8.067226e+04,2.624372e+05,8.519619e+04,1.067121e+06
min,20.000000,300.000000,0.000000,0.000000,0.000000,1.000000e-07,11.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,30.000000,750.000000,12.000000,0.109695,0.000000,1.671533e-01,44.000000,1.096954e+06,0.000000e+00,5.000000e+04,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,34.000000,775.000000,21.000000,0.544771,0.047500,6.653000e-01,54.000000,5.447709e+06,7.000000e+05,4.731070e+05,...,0.000000e+00,4.750000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,38.000000,800.000000,36.000000,1.580000,0.262250,1.917000e+00,63.000000,1.580000e+07,1.000000e+07,2.000000e+06,...,0.000000e+00,2.622500e+06,1.800000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,79.000000,900.000000,2655.000000,745.750000,10.000000,7.458467e+02,90.000000,7.457500e+09,4.815000e+09,2.100862e+09,...,2.000000e+06,1.000000e+08,7.196221e+07,2.242000e+07,1.000000e+08,1.500000e+07,2.500000e+06,1.470000e+07,2.635000e+06,6.000000e+07

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9610 entries, 0 to 9609
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Payment                   9610 non-null   object
 1   City                      9610 non-null   object
 2   gender                    9610 non-null   object
 3   Age                       9610 non-null   int64
 4   Nature_Sign               9610 non-null   object
 5   Industry                  7310 non-null   object
 6   Profession                7309 non-null   object
 7   Credit_Score              8758 non-null   float64
 8   platform                  9443 non-null   object
 9   device_model              9443 non-null   object
 10  income_lac                9610 non-null   float64
 11  assest_cr                 9605 non-null   float64
 12  Liabilities_cr            9479 non-null   float64
 13  VUA                       9605 non-null   float64
 14  FBS_Latest                9577 non-null   float64
 15  Social_Generation         9610 non-null   object
 16  City_Group                9610 non-null   object
 17  Income_Bucket             9610 non-null   object
 18  Age_Bucket                9610 non-null   object
 19  FBS_Bucket                9610 non-null   object
 20  Cibil_Bucket              8758 non-null   object
 21  Total_Assets              9605 non-null   float64
 22  Real_Estate               9605 non-null   float64
 23  Equity                    9605 non-null   float64
 24  Debt                      9605 non-null   float64
 25  Gold                      9605 non-null   float64
 26  Alt_Investments           9605 non-null   float64
 27  non_Other                 9605 non-null   float64
 28  RE_Residential            9605 non-null   float64
 29  RE_Commercial             9605 non-null   float64
 30  Equity_MF                 9605 non-null   float64
 31  Equity_ESOPs              9605 non-null   float64
 32  Equity_Stocks             9605 non-null   float64
 33  Debt_EPF                  9605 non-null   float64
 34  Debt_FD                   9605 non-null   float64
 35  Debt_GovtSchemes          9605 non-null   float64
 36  Debt_HybridMF             9605 non-null   float64
 37  Debt_MF                   9605 non-null   float64
 38  Debt_NPS                  9605 non-null   float64
 39  Debt_Other                9605 non-null   float64
 40  Debt_PPF                  9605 non-null   float64
 41  Debt_Saving               9605 non-null   float64
 42  Gold_Digital              9605 non-null   float64
 43  Gold_Physical             9605 non-null   float64
 44  Gold_SGB                  9605 non-null   float64
 45  AltInv_Crypto             9605 non-null   float64
 46  AltInv_P2P_OR_LoansGiven  9605 non-null   float64
 47  AltInv_Silver             9605 non-null   float64
 48  Total_Liabilities         9479 non-null   float64
 49  Housing_Loan              9479 non-null   float64
 50  Auto_Loan                 9479 non-null   float64
 51  Personal_Loan             9479 non-null   float64
 52  Consumer_Loan             9479 non-null   float64
 53  Credit_Card               9479 non-null   float64
 54  Education_Loan            9479 non-null   float64
 55  Gold_Loan                 9479 non-null   float64
 56  Other_loan                9479 non-null   float64
dtypes: float64(42), int64(1), object(14)
memory usage: 4.2+ MB

In [8]:
df1.isnull().sum()

Payment                        0
City                           0
gender                         0
Age                            0
Nature_Sign                    0
Industry                    2300
Profession                  2301
Credit_Score                 852
platform                     167
device_model                 167
income_lac                     0
assest_cr                      5
Liabilities_cr               131
VUA                            5
FBS_Latest                    33
Social_Generation              0
City_Group                     0
Income_Bucket                  0
Age_Bucket                     0
FBS_Bucket                     0
Cibil_Bucket                 852
Total_Assets                   5
Real_Estate                    5
Equity                         5
Debt                           5
Gold                           5
Alt_Investments                5
non_Other                      5
RE_Residential                 5
RE_Commercial                  5
Equity_MF                      5
Equity_ESOPs                   5
Equity_Stocks                  5
Debt_EPF                       5
Debt_FD                        5
Debt_GovtSchemes               5
Debt_HybridMF                  5
Debt_MF                        5
Debt_NPS                       5
Debt_Other                     5
Debt_PPF                       5
Debt_Saving                    5
Gold_Digital                   5
Gold_Physical                  5
Gold_SGB                       5
AltInv_Crypto                  5
AltInv_P2P_OR_LoansGiven       5
AltInv_Silver                  5
Total_Liabilities            131
Housing_Loan                 131
Auto_Loan                    131
Personal_Loan                131
Consumer_Loan                131
Credit_Card                  131
Education_Loan               131
Gold_Loan                    131
Other_loan                   131
dtype: int64

In [9]:
# Feature Engineering 
# Step 1 create age bucket for segregate data 
df1.Age.unique()

array([41, 35, 39, 21, 28, 30, 34, 27, 36, 37, 33, 38, 47, 31, 26, 32, 29,
       55, 43, 45, 46, 25, 44, 51, 23, 53, 40, 24, 72, 42, 49, 22, 52, 50,
       48, 59, 79, 60, 54, 63, 62, 64, 66, 58, 68, 65, 75, 20, 57, 61, 77,
       56, 69, 70, 67, 73], dtype=int64)

In [10]:
df1.Age_Bucket.unique()

array(['35 yrs to 44 yrs', '24 yrs and below', '25 yrs to 34 yrs',
       '45 yrs & Above'], dtype=object)

In [11]:
# Define mapping for buckets
def assign_bucket(age):
    if age <= 24:
        return '24 yrs and below'
    elif 25 <= age <=34:
        return '25 yrs to 34 yrs'
    elif 35 <= age <=44:
        return '35 yrs to 44 yrs'
    else:
        return '45 yrs & Above'

In [12]:
# Check if existing bucket matches expected one
df1['Expected_Bucket'] = df1['Age'].apply(assign_bucket)
mismatch = df1[df1['Age_Bucket'] !=  df1['Expected_Bucket']]

if mismatch.empty:
    print('All age value correctly match')
else:
    print("Mismatches found â€“ investigate before dropping Age column")
    display(mismatches[["Age", "Age_Bucket", "Expected_Bucket"]])

All age value correctly match

In [13]:
#now can remove age from data
df1 = df1.drop('Age', axis=1)
df1.head()

,Payment,City,gender,Nature_Sign,Industry,Profession,Credit_Score,platform,device_model,income_lac,...,Total_Liabilities,Housing_Loan,Auto_Loan,Personal_Loan,Consumer_Loan,Credit_Card,Education_Loan,Gold_Loan,Other_loan,Expected_Bucket
0,Not Paid,Rajkot,Male,Eagle,Education & Training,Professor,750.0,android,samsung::SM-M346B,18.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs
1,Not Paid,Mumbai,Male,Turtle,NaN,NaN,750.0,ios,iPhone12,35.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs
2,Not Paid,Bangalore,Male,Turtle,NaN,NaN,864.0,ios,iPhone13,41.00,...,3100000.0,3100000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs
3,Not Paid,Nadia district,Male,Turtle,Student,Trading+ business,NaN,android,realme::RMX3392,2.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24 yrs and below
4,Not Paid,Delhi,Male,Turtle,Software & IT Services,Software Developer,753.0,android,motorola::motorola edge 50 fusion,32.00,...,1310000.0,0.0,0.0,1310000.0,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs

In [14]:
df1 = df1.rename(columns={'Expected_Bucket': 'New_Age_Bucket'})

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9610 entries, 0 to 9609
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Payment                   9610 non-null   object
 1   City                      9610 non-null   object
 2   gender                    9610 non-null   object
 3   Nature_Sign               9610 non-null   object
 4   Industry                  7310 non-null   object
 5   Profession                7309 non-null   object
 6   Credit_Score              8758 non-null   float64
 7   platform                  9443 non-null   object
 8   device_model              9443 non-null   object
 9   income_lac                9610 non-null   float64
 10  assest_cr                 9605 non-null   float64
 11  Liabilities_cr            9479 non-null   float64
 12  VUA                       9605 non-null   float64
 13  FBS_Latest                9577 non-null   float64
 14  Social_Generation         9610 non-null   object
 15  City_Group                9610 non-null   object
 16  Income_Bucket             9610 non-null   object
 17  Age_Bucket                9610 non-null   object
 18  FBS_Bucket                9610 non-null   object
 19  Cibil_Bucket              8758 non-null   object
 20  Total_Assets              9605 non-null   float64
 21  Real_Estate               9605 non-null   float64
 22  Equity                    9605 non-null   float64
 23  Debt                      9605 non-null   float64
 24  Gold                      9605 non-null   float64
 25  Alt_Investments           9605 non-null   float64
 26  non_Other                 9605 non-null   float64
 27  RE_Residential            9605 non-null   float64
 28  RE_Commercial             9605 non-null   float64
 29  Equity_MF                 9605 non-null   float64
 30  Equity_ESOPs              9605 non-null   float64
 31  Equity_Stocks             9605 non-null   float64
 32  Debt_EPF                  9605 non-null   float64
 33  Debt_FD                   9605 non-null   float64
 34  Debt_GovtSchemes          9605 non-null   float64
 35  Debt_HybridMF             9605 non-null   float64
 36  Debt_MF                   9605 non-null   float64
 37  Debt_NPS                  9605 non-null   float64
 38  Debt_Other                9605 non-null   float64
 39  Debt_PPF                  9605 non-null   float64
 40  Debt_Saving               9605 non-null   float64
 41  Gold_Digital              9605 non-null   float64
 42  Gold_Physical             9605 non-null   float64
 43  Gold_SGB                  9605 non-null   float64
 44  AltInv_Crypto             9605 non-null   float64
 45  AltInv_P2P_OR_LoansGiven  9605 non-null   float64
 46  AltInv_Silver             9605 non-null   float64
 47  Total_Liabilities         9479 non-null   float64
 48  Housing_Loan              9479 non-null   float64
 49  Auto_Loan                 9479 non-null   float64
 50  Personal_Loan             9479 non-null   float64
 51  Consumer_Loan             9479 non-null   float64
 52  Credit_Card               9479 non-null   float64
 53  Education_Loan            9479 non-null   float64
 54  Gold_Loan                 9479 non-null   float64
 55  Other_loan                9479 non-null   float64
 56  New_Age_Bucket            9610 non-null   object
dtypes: float64(42), object(15)
memory usage: 4.2+ MB

In [16]:
df1.Industry.unique()

array(['Education & Training', nan, 'Student', 'Software & IT Services',
       'BFSI', 'Manufacturing', 'Construction', 'Health Care & Pharma',
       'BFSI ', 'Others', 'Consumer Goods', 'United Nations Works',
       'Architecture', 'Agriculture', 'Retail', 'NBFC',
       'Government Sector', 'Retired', 'Merchant Navy', 'Sports',
       'Oil & Gas Industry', 'Entertainment', 'Logistics',
       'Transportation & Logistics', 'Business', 'Retail industry',
       'Education', 'BPCL', 'House Maker', 'Media & Communications',
       'Aviation', 'Operations BPO', 'Corportate', 'Retail Sector',
       'Petro-Chemical ', 'Desiging', 'E Commerece', 'Chemical Industry ',
       'Oil & Gas', 'Artist & Consultant', 'NGO', 'Family Business',
       'Travel & Hospitality', 'Recruitment ', 'Law', 'PUBLIC SECTOR',
       'Food ', 'manufacturing industry', 'Software', 'Real Estate',
       'Gaming ', 'Telecom R&D', 'Tele', 'Consultant',
       'sustainability Management  ', 'Advertising & Marketing',
       'Fintech', 'Dena bank', 'Power', 'Market Research', 'telecom',
       'Retail ', 'Commercial Refrigeration ', 'Manufacturing ', 'BPO',
       'Consulting ', 'PWC', 'AUTOMOBILE', 'Environment Consulting',
       'Finance', 'Offsore ', 'Export ', 'Engineering Products',
       'Family business', 'Interior designing', 'E commerce',
       'Service Industry', 'Educational Sector ', 'FMCG', 'Sabattical',
       'Retired ', 'Learning & Education', 'Airforce', 'Legal',
       'Travel & Hospitality ', 'Garment Industry', 'Indian Navy',
       'BPO/KPO', 'Media & Marketing', 'Defence',
       'manufacturing and textile', 'Law ', 'Homemaker', 'Electronics',
       'Commercial', 'Food and Beverages', 'E commerce ',
       'Society Manaagement', 'Business Processing Services',
       'Paytm Salesman+ credit society advisor + own business of grocery ',
       'Automobile', 'Advertising ', 'Saloon', 'E-commerce', 'E Commerce',
       'Medical Devices', 'Manufacturer', 'MANUFACTURING', 'Legal ',
       'Marriage Lounge ', 'E-Commerce', 'fmcg', 'Delloite', 'E sports',
       'Designer', 'Computer Graphics', 'Material ', 'Electrical MGF',
       'Ecommerce ',
       'Multiple - E-commerce, education and travel industry',
       'Metals and MIning ', 'Management Consultancy ',
       'Information Services', 'Army', 'Indian Army',
       'Gaming and Technology', 'Construction Equipment', 'Goods Trading',
       'Strategy Consulting', 'E- Commerce/ Amazon', 'Immigration',
       'Service Sector', 'Financial Dealership', 'Digital Marketing',
       'Electrical', 'Amazon', 'Retirerd',
       'Service Provider to Central Govt on Contractual basis',
       'Consulting', 'Legal Department', 'Electrical Ind',
       'marketing and sales', 'Insurance', 'Ed tech', 'textiles',
       'Power Mfg', 'Human resource', 'Capital Goods',
       'Food Distribution', 'Mech', 'Advertising and Content Creation',
       'Own Business', 'Retail Entrepreneur', 'Energy Sector', 'Gaming',
       'Import/Export', 'Strategy Consultant', 'Law Business',
       'FOOD AND BEVERAGES', 'Shipping', 'Engineering', 'AutoMobile',
       'Automobile ', 'HFT', 'Semi conductor Designing',
       'Grain Merchant ', 'Fashion & Textile', 'Chartered Accountant',
       'Mining', 'Retail, Wholesale ', 'Textile', 'Management Consulting',
       'Manufacturing Industry', 'E-Commerce Digital marketing',
       'Consultant ', 'Product', 'Industrial Tools',
       'Renewable energy sector', 'Photography', 'Consultancy',
       'Mobile access. - Imports', 'LAW', 'legal', 'Research ',
       'corporate Security', 'Banking', 'public sector', 'Services',
       'Metal & Mining', 'Water Industry', 'KPO', 'Sports ',
       'Research and consultancy', 'Design Consultant ',
       'Tech, FMCG and Trading', 'Chemical', 'Renewable Energy',
       'Marketing', 'Mechanical Engineering', 'Telecome and Networking',
       'Retired Professional', 'Defense', 'Localization', 'health care',
       'AIR INDIA', 'Automotive', 'real estate', 'Atlas Copco ', 'BPO ',
       'Airline', 'Accounting', 'Design ', 'Renewable energy', 'TCS',
       'Railways', 'HR', 'Modular Furniture', 'Recruitment', 'Chemical ',
       'Other', 'EV', 'Trading ', 'Finance and Marketing',
       'Automobile Industry', 'Detailing', 'Capital Asset',
       'International Political sciences', 'Manufacturer of Edible Oil ',
       'Automobiles', 'PSU', 'Housewife', 'Paint', 'FITNESS', 'Hotel',
       'Recruitement', 'Textile Industry', 'PetCare', 'Automobile (EV)',
       'Events ', 'Retail - E commerce', 'Service Industry ',
       'Aerospace & Aviation', 'Consultation ', 'Chemical Manufacturing',
       'Defense and Army', 'Financial Consulting', 'Manufaturing',
       'Clothing', 'Agritech', 'Unemployed', 'Hardware', 'USA Taxation',
       'waste management', 'Tyres ', 'Lawyer', 'MARKETING FINTECH',
       'Human Resources', 'Strategy and Consulting', 'TVS Motors',
       'Health', 'consulting', 'Business & Tech Consultancy',
       'Interior Designer', 'FMCG/Edible oils', 'other', 'ONGC',
       'HEAVY MACHINERIES', 'Oil Industry', 'Fintech ', 'Edible Oils',
       'Power Generating', 'hardware ', 'Automotive Industry', 'Fashion',
       'Import & Export ', 'Oil and Gas', 'Event ', 'Electric Vehicle',
       'Steel Industry', 'Development', 'Shiping', 'Telecom',
       'packaging ', 'Aerospace', 'Defense and Manufacturing',
       'Wedding Photography', 'Nutrition And Care',
       'Electronic Manufacturing and Service ', 'Power Sector',
       'Businees', 'Import export of electronics', 'Telecome',
       'Footwear - Bata India', 'Real estate advisory', 'Signage', 'OPS',
       'Restraunt Business', 'Financial Services ',
       'Soft Skills Training', 'education,healthcare,construction',
       'Shipping Industry', 'Intellectual Property Rights',
       'Oil Refinery', 'Automotive ', 'Automation', 'Sports Fantasy',
       'Legal Service', 'Petrochemical ', 'E-Com', 'Renewable sector',
       'Sports / Footwear',
       'Railway Factory Pvt Ltd & Partner at Real estate business',
       'Semiconductor', 'Home Improvement ', 'Professional Services',
       'HR Consulting ', 'Data Generation ', 'Telecommunications',
       'Railway', 'Payment Services', 'Freelancing', 'Iron & Steel',
       'Public Sector', 'Tele communications', 'Supply Chain',
       'Commodities Manufacturing ', 'Internet / E- commerce', 'Law Firm',
       'Banking & Finance', 'bUSINESS', 'Intellectual Property rights',
       'manufacturing', 'Energy', 'Technology', 'FMCG - Captain Fresh',
       'Telecom & IPS', 'Engineer', 'performing arts', 'Electronics ',
       'E- Commerce', 'Food Industry', 'Pharma',
       'Recycling of Automobile', 'Garment Business', 'Energy sector',
       'Cyber', 'Automobile / Manufacturing', 'Cybersecurity ',
       'Jewelers Shop', 'Interior Designing', 'Petrochemical', 'Jwellery',
       'Doctor', 'Auto', 'Fitness', 'cvz', 'Film Industry', 'Businessman',
       'AI & Data Science', 'Hardware Industry', 'Energy ',
       'Telecom & ISP', 'Process Automation ', 'Plywood supply/trade',
       'Marketing ', 'Security Services', 'Food and Beverage', 'Na',
       'Oil and Gas ', 'Research and expert network ', 'Merchant navy',
       'Private sector', 'Electric Engineering',
       'Management Consultation', 'Electric', 'Consultancy - Chemicals',
       'engineering consulting', 'Aluminium ',
       'logistics, construction, fmcg', 'E Commerce Services',
       'automobile', ',Managing Consultant ', 'Consultancy ', 'Chemicals',
       'Textile Manufacturing', 'MFG'], dtype=object)

In [17]:
# Clean the Industry column
df1["Industry_clean"] = df1["Industry"].astype(str).str.strip().str.lower()

In [18]:
df1.Industry_clean.unique()

array(['education & training', 'nan', 'student', 'software & it services',
       'bfsi', 'manufacturing', 'construction', 'health care & pharma',
       'others', 'consumer goods', 'united nations works', 'architecture',
       'agriculture', 'retail', 'nbfc', 'government sector', 'retired',
       'merchant navy', 'sports', 'oil & gas industry', 'entertainment',
       'logistics', 'transportation & logistics', 'business',
       'retail industry', 'education', 'bpcl', 'house maker',
       'media & communications', 'aviation', 'operations bpo',
       'corportate', 'retail sector', 'petro-chemical', 'desiging',
       'e commerece', 'chemical industry', 'oil & gas',
       'artist & consultant', 'ngo', 'family business',
       'travel & hospitality', 'recruitment', 'law', 'public sector',
       'food', 'manufacturing industry', 'software', 'real estate',
       'gaming', 'telecom r&d', 'tele', 'consultant',
       'sustainability management', 'advertising & marketing', 'fintech',
       'dena bank', 'power', 'market research', 'telecom',
       'commercial refrigeration', 'bpo', 'consulting', 'pwc',
       'automobile', 'environment consulting', 'finance', 'offsore',
       'export', 'engineering products', 'interior designing',
       'e commerce', 'service industry', 'educational sector', 'fmcg',
       'sabattical', 'learning & education', 'airforce', 'legal',
       'garment industry', 'indian navy', 'bpo/kpo', 'media & marketing',
       'defence', 'manufacturing and textile', 'homemaker', 'electronics',
       'commercial', 'food and beverages', 'society manaagement',
       'business processing services',
       'paytm salesman+ credit society advisor + own business of grocery',
       'advertising', 'saloon', 'e-commerce', 'medical devices',
       'manufacturer', 'marriage lounge', 'delloite', 'e sports',
       'designer', 'computer graphics', 'material', 'electrical mgf',
       'ecommerce',
       'multiple - e-commerce, education and travel industry',
       'metals and mining', 'management consultancy',
       'information services', 'army', 'indian army',
       'gaming and technology', 'construction equipment', 'goods trading',
       'strategy consulting', 'e- commerce/ amazon', 'immigration',
       'service sector', 'financial dealership', 'digital marketing',
       'electrical', 'amazon', 'retirerd',
       'service provider to central govt on contractual basis',
       'legal department', 'electrical ind', 'marketing and sales',
       'insurance', 'ed tech', 'textiles', 'power mfg', 'human resource',
       'capital goods', 'food distribution', 'mech',
       'advertising and content creation', 'own business',
       'retail entrepreneur', 'energy sector', 'import/export',
       'strategy consultant', 'law business', 'shipping', 'engineering',
       'hft', 'semi conductor designing', 'grain merchant',
       'fashion & textile', 'chartered accountant', 'mining',
       'retail, wholesale', 'textile', 'management consulting',
       'e-commerce digital marketing', 'product', 'industrial tools',
       'renewable energy sector', 'photography', 'consultancy',
       'mobile access. - imports', 'research', 'corporate security',
       'banking', 'services', 'metal & mining', 'water industry', 'kpo',
       'research and consultancy', 'design consultant',
       'tech, fmcg and trading', 'chemical', 'renewable energy',
       'marketing', 'mechanical engineering', 'telecome and networking',
       'retired professional', 'defense', 'localization', 'health care',
       'air india', 'automotive', 'atlas copco', 'airline', 'accounting',
       'design', 'tcs', 'railways', 'hr', 'modular furniture', 'other',
       'ev', 'trading', 'finance and marketing', 'automobile industry',
       'detailing', 'capital asset', 'international political sciences',
       'manufacturer of edible oil', 'automobiles', 'psu', 'housewife',
       'paint', 'fitness', 'hotel', 'recruitement', 'textile industry',
       'petcare', 'automobile (ev)', 'events', 'retail - e commerce',
       'aerospace & aviation', 'consultation', 'chemical manufacturing',
       'defense and army', 'financial consulting', 'manufaturing',
       'clothing', 'agritech', 'unemployed', 'hardware', 'usa taxation',
       'waste management', 'tyres', 'lawyer', 'marketing fintech',
       'human resources', 'strategy and consulting', 'tvs motors',
       'health', 'business & tech consultancy', 'interior designer',
       'fmcg/edible oils', 'ongc', 'heavy machineries', 'oil industry',
       'edible oils', 'power generating', 'automotive industry',
       'fashion', 'import & export', 'oil and gas', 'event',
       'electric vehicle', 'steel industry', 'development', 'shiping',
       'packaging', 'aerospace', 'defense and manufacturing',
       'wedding photography', 'nutrition and care',
       'electronic manufacturing and service', 'power sector', 'businees',
       'import export of electronics', 'telecome',
       'footwear - bata india', 'real estate advisory', 'signage', 'ops',
       'restraunt business', 'financial services', 'soft skills training',
       'education,healthcare,construction', 'shipping industry',
       'intellectual property rights', 'oil refinery', 'automation',
       'sports fantasy', 'legal service', 'petrochemical', 'e-com',
       'renewable sector', 'sports / footwear',
       'railway factory pvt ltd & partner at real estate business',
       'semiconductor', 'home improvement', 'professional services',
       'hr consulting', 'data generation', 'telecommunications',
       'railway', 'payment services', 'freelancing', 'iron & steel',
       'tele communications', 'supply chain', 'commodities manufacturing',
       'internet / e- commerce', 'law firm', 'banking & finance',
       'energy', 'technology', 'fmcg - captain fresh', 'telecom & ips',
       'engineer', 'performing arts', 'e- commerce', 'food industry',
       'pharma', 'recycling of automobile', 'garment business', 'cyber',
       'automobile / manufacturing', 'cybersecurity', 'jewelers shop',
       'jwellery', 'doctor', 'auto', 'cvz', 'film industry',
       'businessman', 'ai & data science', 'hardware industry',
       'telecom & isp', 'process automation', 'plywood supply/trade',
       'security services', 'food and beverage', 'na',
       'research and expert network', 'private sector',
       'electric engineering', 'management consultation', 'electric',
       'consultancy - chemicals', 'engineering consulting', 'aluminium',
       'logistics, construction, fmcg', 'e commerce services',
       ',managing consultant', 'chemicals', 'textile manufacturing',
       'mfg'], dtype=object)

In [19]:
# Industry mapping 
Industry_mapping = {    # ---------------- IT & Services ----------------
    "software & it services": "IT & Services",
    "software": "IT & Services",
    "e commerce": "IT & Services",
    "e-commerce": "IT & Services",
    "e commerece": "IT & Services",
    "ecommerce": "IT & Services",
    "internet / e- commerce": "IT & Services",
    "e commerce services": "IT & Services",
    "e-commerce digital marketing": "IT & Services",
    "amazon": "IT & Services",
    "technology": "IT & Services",
    "ai & data science": "IT & Services",
    "cyber": "IT & Services",
    "cybersecurity": "IT & Services",

    # ---------------- Finance ----------------
    "bfsi": "Finance",
    "nbfc": "Finance",
    "banking": "Finance",
    "banking & finance": "Finance",
    "finance": "Finance",
    "financial services": "Finance",
    "financial consulting": "Finance",
    "fintech": "Finance",
    "insurance": "Finance",
    "accounting": "Finance",
    "chartered accountant": "Finance",

    # ---------------- Manufacturing ----------------
    "manufacturing": "Manufacturing",
    "manufacturing industry": "Manufacturing",
    "manufacturing and textile": "Manufacturing",
    "manufaturing": "Manufacturing",
    "mfg": "Manufacturing",
    "automobile": "Manufacturing",
    "automobile industry": "Manufacturing",
    "automobiles": "Manufacturing",
    "auto": "Manufacturing",
    "engineering": "Manufacturing",
    "mechanical engineering": "Manufacturing",
    "industrial tools": "Manufacturing",
    "capital goods": "Manufacturing",
    "engineering products": "Manufacturing",
    "electronics": "Manufacturing",
    "hardware": "Manufacturing",
    "hardware industry": "Manufacturing",
    "textile": "Manufacturing",
    "textile industry": "Manufacturing",
    "garment industry": "Manufacturing",
    "fashion & textile": "Manufacturing",

    # ---------------- Education ----------------
    "education": "Education",
    "education & training": "Education",
    "educational sector": "Education",
    "learning & education": "Education",
    "ed tech": "Education",
    "student": "Education",

    # ---------------- Healthcare & Pharma ----------------
    "health care & pharma": "Healthcare & Pharma",
    "health care": "Healthcare & Pharma",
    "pharma": "Healthcare & Pharma",
    "medical devices": "Healthcare & Pharma",
    "doctor": "Healthcare & Pharma",
    "nutrition and care": "Healthcare & Pharma",

    # ---------------- Government / PSU ----------------
    "government sector": "Government / PSU",
    "public sector": "Government / PSU",
    "psu": "Government / PSU",
    "service provider to central govt on contractual basis": "Government / PSU",
    "army": "Defense",
    "indian army": "Defense",
    "defense": "Defense",
    "defence": "Defense",
    "airforce": "Defense",
    "indian navy": "Defense",
    "merchant navy": "Defense",
    "air india": "Defense",
    "aviation": "Defense",

    # ---------------- Retail & Consumer ----------------
    "retail": "Retail & Consumer",
    "retail sector": "Retail & Consumer",
    "retail industry": "Retail & Consumer",
    "retail, wholesale": "Retail & Consumer",
    "consumer goods": "Retail & Consumer",
    "fmcg": "Retail & Consumer",
    "fmcg/edible oils": "Retail & Consumer",
    "food industry": "Retail & Consumer",
    "food and beverages": "Retail & Consumer",
    "food": "Retail & Consumer",
    "petcare": "Retail & Consumer",

    # ---------------- Construction & Real Estate ----------------
    "construction": "Construction & Real Estate",
    "construction equipment": "Construction & Real Estate",
    "real estate": "Construction & Real Estate",
    "real estate advisory": "Construction & Real Estate",
    "architecture": "Construction & Real Estate",

    # ---------------- Energy & Oil ----------------
    "oil & gas": "Energy & Oil & Gas",
    "oil & gas industry": "Energy & Oil & Gas",
    "oil industry": "Energy & Oil & Gas",
    "petrochemical": "Energy & Oil & Gas",
    "renewable energy": "Energy & Oil & Gas",
    "power": "Energy & Oil & Gas",
    "energy": "Energy & Oil & Gas",
    "power sector": "Energy & Oil & Gas",

    # ---------------- Consulting & Services ----------------
    "consulting": "Consulting & Services",
    "consultancy": "Consulting & Services",
    "consultation": "Consulting & Services",
    "strategy consulting": "Consulting & Services",
    "management consulting": "Consulting & Services",
    "management consultancy": "Consulting & Services",

    # ---------------- Media & Entertainment ----------------
    "media & communications": "Media & Entertainment",
    "media & marketing": "Media & Entertainment",
    "advertising": "Media & Entertainment",
    "advertising & marketing": "Media & Entertainment",
    "digital marketing": "Media & Entertainment",
    "film industry": "Media & Entertainment",
    "entertainment": "Media & Entertainment",
    "gaming": "Media & Entertainment",
    "gaming and technology": "Media & Entertainment",

    # ---------------- Personal Categories ----------------
    "retired": "Retired",
    "retired professional": "Retired",
    "retirerd": "Retired",
    "housewife": "Homemaker",
    "homemaker": "Homemaker",
    "house maker": "Homemaker",
    "unemployed": "Unemployed",

    # ---------------- Others ----------------
    "others": "Others",
    "other": "Others",
    "na": "Others"
}

In [20]:
df1['Industry_Bucket'] = df1['Industry_clean'].map(Industry_mapping).fillna('Others')

In [21]:
df1.sample(20)

,Payment,City,gender,Nature_Sign,Industry,Profession,Credit_Score,platform,device_model,income_lac,...,Auto_Loan,Personal_Loan,Consumer_Loan,Credit_Card,Education_Loan,Gold_Loan,Other_loan,New_Age_Bucket,Industry_clean,Industry_Bucket
5226,Not Paid,Udupi,Male,Horse,Construction,Partner,756.0,android,Redmi::M2101K6P,17.60,...,615342.0,1939652.0,0.0,293000.0,0.0,0.0,0.0,35 yrs to 44 yrs,construction,Construction & Real Estate
5748,Not Paid,Bengaluru,Male,Elephant,Consumer Goods,Sales Manager,820.0,android,samsung::SM-G770F,43.40,...,39314.0,0.0,0.0,0.0,0.0,0.0,3033980.0,35 yrs to 44 yrs,consumer goods,Retail & Consumer
6834,Not Paid,Coimbatore,Male,Elephant,Software & IT Services,C-Suite Executive,775.0,ios,iPhone12,42.50,...,1900000.0,0.0,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,software & it services,IT & Services
308,Not Paid,Palghar,Male,Turtle,NaN,NaN,NaN,android,OnePlus::CPH2381,30.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45 yrs & Above,nan,Others
2733,Not Paid,Noida,Male,Horse,Media & Communications,Cinematographer,812.0,android,OnePlus::NE2211,8.63,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,media & communications,Media & Entertainment
6248,Not Paid,Delhi,Male,Horse,NaN,NaN,800.0,ios,iPhone12Pro,75.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,nan,Others
1426,Not Paid,Jamshedpur,Male,Turtle,Others,Others,750.0,android,realme::RMX3571,7.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,others,Others
5732,Not Paid,Bengaluru,Male,Turtle,Aerospace,Engineer,750.0,android,Redmi::M2101K6P,26.03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,aerospace,Others
7854,Not Paid,Gurgaon,Male,Elephant,Software & IT Services,Sr Manager Director,794.0,ios,iPhone14,83.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45 yrs & Above,software & it services,IT & Services
3178,Not Paid,Bengaluru,Male,Horse,Health Care & Pharma,Health Care,435.0,android,samsung::SM-E135F,7.50,...,0.0,0.0,0.0,0.0,0.0,0.0,150000.0,25 yrs to 34 yrs,health care & pharma,Healthcare & Pharma
6007,Not Paid,Bengaluru,Male,Turtle,Others,Others,747.0,ios,iPhone12Mini,8.50,...,250000.0,0.0,0.0,0.0,0.0,0.0,2800000.0,25 yrs to 34 yrs,others,Others
2558,Not Paid,Rajkot,Female,Turtle,Others,Others,749.0,ios,iPhone14Plus,42.00,...,0.0,0.0,0.0,0.0,0.0,0.0,1500000.0,25 yrs to 34 yrs,others,Others
7915,Not Paid,Lucknow,Female,Horse,Manufacturing,Entrepreneur,800.0,android,samsung::SM-S911B,54.80,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,manufacturing,Manufacturing
7122,Not Paid,Delhi,Male,Elephant,NaN,NaN,864.0,android,OnePlus::HD1901,12.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,nan,Others
1682,Not Paid,Indore,Male,Turtle,NaN,NaN,744.0,android,Nokia::Nokia G21,30.00,...,0.0,1351273.0,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,nan,Others
5651,Not Paid,Pune,Male,Horse,NaN,NaN,800.0,ios,iPhone13Pro,35.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45 yrs & Above,nan,Others
162,Not Paid,Sehore,Male,Tiger,Health Care & Pharma,Surgeon,800.0,android,OnePlus::CPH2573,36.00,...,400000.0,400000.0,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,health care & pharma,Healthcare & Pharma
2516,Not Paid,Bengaluru,Male,Eagle,Software & IT Services,Software Developer,790.0,android,google::Pixel 7,22.00,...,0.0,1512600.0,0.0,0.0,948000.0,0.0,500000.0,24 yrs and below,software & it services,IT & Services
9513,Not Paid,Bengaluru,Male,Elephant,Software & IT Services,Business Analyst,768.0,android,iQOO::I2212,34.80,...,1200000.0,380000.0,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,software & it services,IT & Services
3012,Not Paid,Bengaluru,Male,Eagle,Business,Sales Coaching,796.0,ios,iPhone13Pro,53.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,business,Others

In [22]:
# mapping for profession column 
df1.Profession.unique()

array(['Professor', nan, 'Trading+ business', ...,
       'Gold & Silver jewellery', 'Senior Program Manager',
       'Purchasing Manager'], dtype=object)

In [23]:
df1['Profession'].value_counts()

Profession
Software Developer                          1274
Others                                       791
Sales Manager                                261
Product Manager                              223
Project Manager                              196
                                            ...
Internal Auditor - IT                          1
Actuarial Consultant                           1
Consultant - Technology & Transformation       1
geophysicist                                   1
Purchasing Manager                             1
Name: count, Length: 1318, dtype: int64

In [24]:
prof_unique = df1["Profession"].dropna().unique().tolist()
print(prof_unique)

['Professor', 'Trading+ business', 'Software Developer', 'Credit Analyst', 'Process Engineer', 'Development Manager', 'Electrical Engineer', 'business development ', 'Financial Advisor', 'IT Consultant', 'Product Manager', 'Business Analyst', 'Architect', 'Branch Operations Manager', 'Others', 'CFO', 'Content Creation ', 'Sales Manager', 'Project Manager', 'Sales and Marketing Professional', 'National Officer ', 'Business', 'Product Design Eng.', 'Radiologist', 'Senior Technical manager', 'Production Manager', 'Business + student', 'AVP: New Partnerships ', 'Civil Engineer', 'Cybersecurity Specialist', 'Product Security Engineer', 'Risk Manager', 'Operations Quality Manager', 'Accountant', 'Engineer ', 'Procurement Specialist', 'Retired', 'Strategy Consultant', 'Senior Manager - Operations', 'Mechanical Engineer', 'Data Analyst', 'DevOps Engineer', 'Junior officer', 'Support Lead', 'Digital Marketing expert', 'Contract Manager', 'Telco IT', 'Chartered Accountant', 'Director', 'Cloud Specialist', 'Human Resources', 'Human Resource', 'Surgeon', 'Network Administrator', 'Head of XBU Enterprise solutions', 'Technical Support Specialist', 'Senior Manager - Business Consultant ', 'Software Tester', 'Warehouse Manager', 'senior process engineer', 'Private Banker ', 'Product Designer ', 'Consultation', 'Area sales manager', 'Student', 'Sales Engineer', 'Cloud Architect', 'Senior manager - Coordination', 'Music Teacher', 'Network Engineer', 'House Maker', 'System Administrator', 'Supply Chain Manager', 'HOD - Airport operations control center', 'maintenance manager ', 'Entrepreneur', 'Senior Technical Lead', 'Financial Analyst', 'Team Leader', 'Compliance Head', 'Assistant Manager', 'Quality Assurance Engineer', 'Program Manager ', 'CS ', 'Educational Administrator', 'Accounts & Finance Manager ', 'Operations Manager ', 'Chemical Engineer', 'Interior designer', 'Public Health Specialist', 'Video Editor', 'Solutions Director', 'Product Designer', 'Public Health Officer', 'Advertising Manager', 'shift In charge ', 'Sales - CASA', 'Retail Manager', 'Graphic Designer', 'Ward Inspector', 'Corporate Communications Professional', 'Construction Manager', 'sales and marketing manager ', 'Data Scientist', 'Proffesor', 'Bank Manager', 'Artist', 'Logistics Manager', 'Multiple', 'Doctor', 'Technical lead', 'Pharmacist', 'Chief Product Officer - CPO', 'Mixologist', 'Corporate Banking', 'Consultant', 'Sales and Business Development', 'Teacher', 'Entrenpreneurial', 'Business Manager', 'Lawyer', 'Contractor', 'Electricity dep', 'Human Resources ', 'Financial Planner', 'Technical Writer', 'Team Lead ', 'pediatrician', 'Real Estate Sales', 'IT Head', 'Musician', 'Digital Marketer', 'Airports Authority of India', 'Data Engineer', 'IT Recruiter', 'OPS MANAGER (INDIAN OIL)', 'Officer', 'Sales Leader', 'Infrastructure engineer', 'Compliance Officer', 'product Designer', 'Canteen Supervisor', 'Vision System', 'Customer Service Representative', 'Business consulting and analytics', 'Developer', 'Financial Consultant', 'Interior Designer', 'Businessman', 'Chef', 'Investment Banker', 'IT Security Specialist', 'Associate Manager', 'Back office Associate', 'Asst Engg', 'ceo', 'Product management', 'IP Manager', 'Materials Scientist', 'hardware enggineer', 'Senior Manager - Corporate Quality Assurance ', 'Customer Support Rep', 'Adminstration', 'Assistant General Manager', 'ESG analyst', 'Customer success manager', 'HR', 'Event Planner', 'Civil Servant', 'Marketing - Senior Manager', 'Creative Lead', 'solution architect', 'Client Services', 'Business Consultant', 'Admin Professional', 'Sourcing Manager', 'procurement', 'pension', 'Electrical Engg', 'Marketing Analyst', 'UX/UI Designer', 'Public Relations Specialist', 'Warehousing', 'Manager', 'Research and Development (R&D) Engineer', 'Data collector', 'deputy general manager', 'Navy ', 'Assistant Manager - consultation', 'International business finance manager', 'Admin', 'AGM - Internal Audit Head ', 'Police Officer', 'Vice President - South Operations', 'Business development manager ', 'Customer associate', 'Army ', 'Manager - Finance Transformation ', 'Management Consultant', 'BUSINESSMAN', 'Creative Director', 'Executive Director', 'ESG Analyst', 'Startup Entrepreneur ', 'Forex Trader', 'Researcher', 'Learning and Development', 'Manufacturing ', 'Assistant Manager - Quality', 'business', 'Sales & Marketing', 'Sound Engineer', 'Anti-Money Laundering Specialist', 'sales executive ', 'Store', 'interior designer', 'Trainer', 'Pet Industry', 'Aministrator', 'Sales Associate', 'Customer service consultant', 'Product Compliance', 'Relationship Manager', 'Retired - Ex Chief Associate - SBI', 'Freelance', 'Admission counselor', 'UX Designer', 'Own Firm', 'Medical Sales Representative', 'Senior Executive', 'Social Media Digital marketing', 'College', 'Masters', 'Business Development', 'Engineer', 'Clerk', 'Senior Analyst', 'Architect ', 'Database Administrator', 'video editor', 'Home Maker', 'Deputy Training Manager', 'Regulatory Affairs Specialist', 'Public Relations Manager ', 'Animator', 'Trader', 'Airman', 'Journalist', 'IBM', 'Marketing Manager', 'intern', 'Geo Technical Engineer', 'Nurse', 'Billing Executive', 'Investment Counselor', 'Travel Agent', 'CEO', 'Operations Analyst', 'Production', 'Customer service executive', 'Owner', 'Junior assistant', 'Tax Consultant', 'MF and Insurance Distributor', 'Senior Legal Executive ', 'Compliance Officer ', 'Distribution Center Manager', 'Sales ', 'Soldier', 'Senior Manager', 'marketing head', 'Multi Tasking Staff', 'Technical Lead', 'Marketing', 'Design Engineer', 'Content Engineer', 'retired', 'Auditor', 'operation analyst', 'Quantitative Research Analyst', 'Homemaker', 'Postal Department', 'Product manager', 'Multimedia Artist', 'Aerospace Engineer', 'Retired ', 'Production Engineer', 'HR Generalist', 'Designer', 'Medical Representative', 'Operations ', 'Procurement Manager', 'C-Suite Executive', 'Implementation Engineer', 'survivor', 'Mechanical Designer', 'Accounting and finance ', 'Risk Analyst', 'Operations', 'AI development', 'Team Lead', 'Entrenprenuer + sales', 'Finance Assistant', 'IT Infrastructure specialist', 'Procurement Officer', 'Forester', 'RPA Developer', 'Retail', 'Junior Assistant - Vocational Education', 'digital marketing ', 'Web Designer', 'Technical Support', 'Underwriter', 'Saloon', 'Assistant ', 'Social Worker', 'Real Estate Marketer', 'Technical Specialist', 'Data Engineer/ Business Analyst', 'Senior Executive - Business side', 'Content Creator ', 'Customer Service Executive- Insurance', 'Marketing and Catalogue', 'SENIOR MANAGER', 'Operational Risk Analyst', 'Strategy project', 'Communications Consultant', 'Principal Patent Scientist', 'Head', 'Producer', 'Sr Manager', 'Quality Control Inspector', 'Data privacy Consultant ', 'Wealth Management Advisor', 'Account Manager', 'Product Marketing Manager', 'Software Consultant', 'VP - Engineering ', 'Physician', 'Production ', 'Data Specialist', 'ALM Director', 'Director of Sales and Marketing', 'Category Manager', 'human resources', 'Assistant manager', 'Loan Officer', 'Program Manager', 'Freelancer', 'CRPF', 'Customer Success Manager', 'Fashion Designer', 'Creatures', 'Assisstant Manager ', 'Own Consultancy', 'Senior manager', 'Hotel Manager', 'Business owner', 'Freelancer ', 'Senior Technical Support', 'Entreprenuer', 'Training and Development Manager', 'Pre-Sales Consultant', 'MFD', 'Junior Creative Producer ', 'Program manager', 'UAT designer', 'Chief Technical Officer', 'Ass. professor', 'Content Writer', 'Vice President', 'Housekeeping Staff', 'Fitness coach', 'Cinematographer', 'Consultant ', 'Software enggineer', 'Corporate Lawyer', '.', 'Transportation Manager', 'Area Sales Engineer', 'Judge ', 'Biology Student', 'Staff Consultant', 'Proprietor', 'Quality Assurance Manager', 'Real Estate Broker', 'E-commerce Specialist', 'Industrial Packaging Material Supplies', 'Industrial Consultant', 'Physiotherapist', 'Performance Improvement ', 'Content Strategy', 'Founder', 'Fashion model', 'Assistant Loco Pilot - Indian Railways', 'Sales Manager ', 'senior software engineer', 'Digital Marketing Executive', 'Senior operations manager ', 'Fitness Trainer', 'senior manager', 'Partnership', '3D Artist', 'Drummer', 'Creative Consultant ', 'Associate Analyst', 'Copywriter', 'Revenue manager', 'Agricultural Consultant', 'Sales manager', 'Client Success Associate', 'Middle management - Media planning & Strategy', 'consultation', 'Logistics Coordinator', 'PATWARI', 'Deputy Manager - Underwriter', 'Service manager', 'AI Engineer', 'Head - Esports (Online Competitive Video Game)', 'Senior Operations and client servicing Manager', 'Cab Services', 'Regional director', 'Sr Engg', 'Social Media Manager', 'Risk Management Co ordinator', 'MD', 'project manager', 'Talent Development', 'Technician/Accounts', 'Senior Software Developer', 'Customer Service', 'Medical', 'Scuba diving instructor', 'marketing and sales', 'Debt Collection', 'Entrepreneur ', 'software engineer', 'Management Trainee', 'Growth Marketer', 'Unit Sales Manager ', 'Performance management and quality specialist', 'Marine Engineer', 'Distributor', 'Medical Administrator', 'Drilling Engineer', 'Site Engg', 'Writer / Author', 'Chip designer', 'Business Development ', 'Aviation', 'Cybersecurity Engineer', 'Other', 'Software Engg', 'Recrument', 'B2B sales Executive', 'Customer Service Executive', 'Associate data engineer', 'Know Your Customer (KYC) Analyst', 'Algotrader - Religare', 'Procurement specialist', 'Guidance Counselor', 'Business analyst ', 'Credit Risk Analyst', 'Crew manager', 'operations', 'Programme Management', 'Business Transformation', 'School Principal', 'Mech Engg', 'Content Creator', 'Quality Assurance', 'Executive', 'Machine Learning Engineer', 'Tech support', 'Visual graphic Manager', 'Video Editing and Camera', 'Own Business', 'Business Development Manager', 'Real Estate Agent', 'Senior Associate - Finance Analyst', 'Digital Business Operations manager', 'ASIC Engineer', 'Retail Entrepreneur', 'AI Researcher', 'Assistant Executive', 'UI/UX Designer', 'Screenwriter', 'Brand Protection Analyst', 'Business Operations ', 'Marketing & Communication', 'Senior safety system specialist', 'Senior product Manager', 'Photographer', 'Own Firm - Real Estate Sales ', 'Social Media Lead', 'Senior Consultant', 'Sales and Marketing Manager', 'Yoga Teacher', 'Dancer, Voice over Artist', 'Support Executive', 'OPERATIONS MANAGER', 'Sales Executive ', 'Station Master', 'Football Coach (Lead - Tactical Analysis)', 'Highway Designer', 'Android developer', 'Supply Chain Senior Manager', 'Project Coordinator', 'Dispute Manager - Credit Card', 'Software Developer ', 'BPO', 'Junior Admin Officer', 'Design Engineer ', 'Marketing Manager ', 'Senior IT Executive', 'trade monitoring engineer', 'clinical psychologist', 'Pharmaceutical Sales Representative', 'Sr Executive data base', 'Electrical designer', 'HVDC Design Engineer', 'Medical Billing Industry', 'Editor', 'Psychotherapist', 'Mining', 'Acquisition Manager', 'Textile Designer', 'Actor', 'Claims Service Manager', 'Farm Manager', 'Dentist', 'Freelencing', 'Sales Associate ', 'Assistant Manager - IT', 'Retired Professor', 'Business ', 'Admin - Railways', 'process engineer', 'Senior Executive - Data Analyst', 'Medical Officer ', 'Subject matter expert', 'Sales Coaching', 'Fitness Coach', 'Asst manager', 'Distributors', 'SGM - Finance and operations', 'Technician ', 'HR Admin', 'Ecomm - TL', 'operations manager', 'Scientist / Engineer', 'Revenue officer', 'business development and sales ', 'Business Intelligence Analyst', 'Animation', 'Management Consulting', 'Assistant manager - Performance marketing', 'Consutation', 'Property Manager', 'Analyst', 'Assosiate', 'Clerk ', 'Brand Manager', 'SAP Consultant', 'Sales Representative', 'Soft Engg', 'Lawer', 'Health Care ', 'lawyer', 'Operations Manager', 'Manufacturing Technician', 'Data Engineer ', 'PR', 'Senior Associate', 'Grievance redressal', 'design enggineer', 'Team Leader Business research', 'Maintenance', 'Security officer', 'Software Engineer', 'Fraud Investigator', 'Freelancing & Co founder', 'Data Anaylst', 'consultant ', 'Consultant Data Base', 'Supply Chain Head', 'Internal Auditor - IT', 'Actuarial Consultant', 'Consultant - Technology & Transformation', 'geophysicist', 'Senior Associate  - IT', 'Partnerships', 'Cyber Security', 'Construction Project Manager', 'Process manager ', 'Marketing Agency', 'Coal Mining Engineer', 'Intern', 'clerk', 'R & D', 'KPO Manager', 'Defense', 'Sports Physio', 'Anesthesiologist', 'Associate Operations Manager ', 'Assistant sales manager', 'Sales and Marketing', 'Podcast Producer', 'R&D Engineer', 'ESG consultant', 'Doctor ', 'Admissions Counselor', 'Advocate ', 'Cloud Engineer', 'Ministry of Finance - Inspector', 'Deck Officer', 'Risk Anaylst', 'Budgeting and Finance Assistant Manager', 'Jewellery Showroom Manager', 'Vigilance Officer', 'Admin Head', 'senior engineer', 'Dam Operation + Maintenance', 'Clinic', 'Marketing manager', 'Associate', 'Manager - Packaging Service', 'RAN operator ', 'Functional Consultant', 'Deputy manager', 'Retired Professional', 'Air Force', 'Language Translator', 'Business Owner', 'Key Role Manager', 'Statistician', 'Able body seaman', 'Airport Staff', 'Executive assistance', 'Immigration Sector', 'MANAGER', 'Train Manager', 'Self Employed', 'Trading ', 'Supply chain manager', 'Pharmaceutical Scientist', 'Banker', 'Teacher and Lawyer', 'Customer Success', 'web developer', 'Campaign Manager', 'subject matter expert', 'IT Analyst', 'Agricultural Sales Representative', 'Service Engineer', 'Clerical', 'Shift In Charge', 'Dispatcher', 'Project and Operations Manager ', 'Postal Worker', 'ENGINEERING INTEGRATED OPERATIONS', 'Cybersecurity Associate ', 'land developers', 'IT', 'Deputy Cluster Manager', 'TL - Operations', 'Policy Analyst', 'data analytics', 'Audiologist and Speech Therapist', 'CEO & Founder', 'Sales Department', 'DM Revenue Management', 'Defense sector', 'Art director ', 'Treasury/Trade accounting', 'Airline Crew', 'Assistant Prof.', 'DM ', 'Project Management', 'Branch Manager Sales/Marketing', 'ONBOARDING SPECIALIST', 'Regional Head', 'Comisson based', '3D Animator', 'loco pilot ', 'assistant manager ', 'Pilot', 'senior executive', 'Dietitian', 'Area Sales Manager', 'Tax Examiner', 'Self employed', 'GST tax assistant', 'Electrical engineer', 'SENIOR KEY ACCOUNT EXECUTVE', 'Executive IT', 'property manager', 'Chemical Engg', 'other', 'Medical Officer', 'Panchayati Raj', 'Supply Chain Analyst', 'Web developer', 'Finance Administrator', 'Sales', 'Deputy Manager - Client Acquisition', 'Transition Manager', 'Goods Trader', 'Lead Facility Head', 'Retail Loan', 'Stockbroker', 'MF Distributor', 'Data analyst', 'Finance Manager', 'Assistant Librarian ', 'VFX ', 'Customer Service Associate', 'Tech Lead', 'RBI Manager ', 'Maintenance Technician', 'Motion Graphic Designer', 'Embassy', 'State Technical consultant', 'company secretary assistant', 'Group head Account  & strategies', 'Executive Assistant', 'Colorist', 'Quality Engineering', 'Railways ', 'Electrical', 'Inventory Manager', 'Deputy Manager - ICICI ', 'Sr foreman civil', 'Senior Technician', 'Trade Support Analyst', 'Assistant Manager - Business Devleopment', 'Senior sales manager', 'assistant manager', 'Head - Customer Exp', 'PERSONAL FITNESS TRAINER', 'Director Revenue Management', 'Recruitement', 'Technology director', 'Technical Lead Engineer', 'Senior Motion Graphic Artist', 'Retail Broadband', 'content strategist', 'people manager', 'Service maintenance engg', 'Business Head', 'Supplychain Team', 'Senior production manager', 'Jewellery Designer', 'Manager - Field Operations', 'sales manager ', 'Claims Operations Manager', 'Academic Consultant', 'Sales Support', 'Digital Marketing', 'construction ', 'Civil Employee - Assistant executive officer', 'Admin ', 'Instrument Engineer', 'real estate consultant', ' Tool Design Engineer', 'Software Sales Rep', 'mining engineer ', 'sales and marketing manager', 'Senior Finance Manager', 'Lawyer ', 'Admistration', 'International Marketing Manager', 'Logistic Incharge', 'Digital marketing', 'Insurance Agent', 'Corporate Head - ESH', 'Senior Engineer', 'Sales - Senior Manager', 'Defense and Army', 'Quality Anaylst', 'Accounting and Auditing', 'Strategy', 'Sales Lead', 'Family Business', 'Crypto analyst', 'Director - Business', 'Unit Head', 'Audit & compliance', 'ESG strategy ', 'Not Working', 'Head of Procurement', 'Circuit design Engineer', 'Tea Taster', 'Customer Experience Specialist', 'Strategy Manager', 'Project Management Consultant ', 'Business Consultant ', 'Tech Consultant', 'Treasury Analyst', 'Area Manager', 'Procurement', 'License', 'Business Finance manager', 'Retire', 'Engineering', 'Digital Business Head', 'Zonal Head Sales ', 'ERP consultant', 'Customer Support Specialist', 'Antrepreneur', 'Regulatory compliance manager', 'Senior Manager - Corporate Relations ', 'Escalation Engineer', 'General Management ', 'EA', 'Sales Head ', 'Director - Sales', 'Advocate', 'stock market trader', 'Instructional Designer', 'Busines', 'Sub Post Master', 'Lab Technician - Nuclear Fuel Complex', 'AVP - Business Development', 'Defence', 'Business Growth Head', 'General Manager Land acquisition and Corporate affairs ', 'Delivery head', 'Consulting', 'Server', 'Senior Management', 'Founder & CEO', 'MARKETING ', 'Stock Trader', 'HR ', 'Automobile Professional', 'Orthopedics', 'M&A Manager ', 'Strategy and Consulting', 'General Manager', 'Senior Manager - Accounting & Finance', 'Engineering Research ', 'Chief of Staff ', 'Lead Engineer', 'Partner', 'Freelancing', 'Associate ', 'IT Procurement', 'mergers and acquisitions', '3D artist', 'Engineering Construction', 'Fraud Director', 'Private Banker', 'Accounting and Finance ', 'Executive Engg', 'Product Researcher', 'CTO', 'DEPUTY MANAGER', 'Product Head - India & South East Asia', 'Retired (Army Professional)', 'Own Startup - N Pay', 'HR manager', 'Senior Vice president', 'Sales and marketing manager', 'Executive Eng.', 'Plant Manager - UltraTech', 'System Analyst', 'Retired - Extension', 'HOD', 'Branch Sales Manager', 'Business Head ', 'owner', 'Event facilitator', 'Cost Accountant', 'Immigration officer', 'Electronic Design Engineer', 'VP - Operation', 'Study Manager', 'Senior Manager - Impact and ESG', 'Hardware Engineer', 'Financial Markets - Tech', 'area sales manager ', 'Farmhand', 'Petroleum Engineer', 'Lifestyle Exhibition', 'electrical engineering ', 'Supply chain Management and program head', 'Commercial manager', 'Revenue Ops Manager', 'Automation Engineer', 'Head of Growth ', 'Marine Safety Consultant', 'Deputy General Manager', 'Sales and Operations Head', 'verification engineer', 'Colonel', 'Solution Architect - IT', 'Admin manager', 'Technical Leadership', 'human resource ', 'Tour Guide', 'Fireman', 'Defense in BSF - Inspector', 'Chief Financial Officer', 'INFRA SPECIALIST', 'Head coordinator - Designer', 'Comedian', 'Delhi Police', 'Senior Data Scientist', 'Equity Analyst', 'Assistant Professor', 'GST Consultant', 'Reinsurance Analyst', 'System Manager', 'Flight Dispatcher', 'Oncologist', 'Lead Software Engineer', 'Administrative officer', 'CTO & Co-founder', 'Co-ordinator', 'Inspector', 'Supply Chain - Senior Manager', 'section officer', '2D Supervisor', 'ASSISTANT MANAGER', 'IT Trainer', 'IT Specialist', 'Customer Relations', 'Environmental Health and Safety (EHS) Manager', 'Digital Marketing manager', 'Urban Housing Affairs - Assistant Accounts Officer', 'Assistant Executive engineer - Irrigation Dept.', 'Part time consultant', 'senior network analyst', 'Sales Manager - Tata Capital', 'site reliability engineer', 'Wholesale Trader', 'Senior Manager - Due Diligence', 'Senior Product Manager', 'Merchandise Planner', 'Merchant Navy', 'Technology', 'Senior Operations Manager', 'Entertainment, Interior', 'senior Associate', 'LAW

In [25]:
df1.Industry_Bucket.unique()

array(['Education', 'Others', 'IT & Services', 'Finance', 'Manufacturing',
       'Construction & Real Estate', 'Healthcare & Pharma',
       'Retail & Consumer', 'Government / PSU', 'Retired', 'Defense',
       'Energy & Oil & Gas', 'Media & Entertainment', 'Homemaker',
       'Consulting & Services', 'Unemployed'], dtype=object)

In [26]:
# Create mapping for all professions
profession_mapping = {
    # === Education ===
    "Professor": "Education",
    "Proffesor": "Education",
    "Assistant Professor": "Education",
    "Ass. professor": "Education",
    "Music Teacher": "Education",
    "Teacher": "Education",
    "Educational Administrator": "Education",
    "College": "Education",
    "Student": "Education",
    "Intern": "Education",
    "Assistant Prof.": "Education",

    # === IT & Services ===
    "Software Developer": "IT & Services",
    "Software Developer ": "IT & Services",
    "Software Engineer": "IT & Services",
    "Software enggineer": "IT & Services",
    "Software Engg": "IT & Services",
    "Software Eng": "IT & Services",
    "Developer": "IT & Services",
    "Web Developer": "IT & Services",
    "web developer": "IT & Services",
    "Data Analyst": "IT & Services",
    "Data Anaylst": "IT & Services",
    "Data Engineer": "IT & Services",
    "Data Engineer ": "IT & Services",
    "Data Scientist": "IT & Services",
    "AI Engineer": "IT & Services",
    "AI Researcher": "IT & Services",
    "Machine Learning Engineer": "IT & Services",
    "Cybersecurity Specialist": "IT & Services",
    "Cyber Security": "IT & Services",
    "Cybersecurity Engineer": "IT & Services",
    "Cloud Architect": "IT & Services",
    "Cloud Specialist": "IT & Services",
    "UI/UX Designer": "IT & Services",
    "UX Designer": "IT & Services",
    "UX/UI Designer": "IT & Services",
    "UX/UI designer": "IT & Services",
    "System Administrator": "IT & Services",
    "Network Engineer": "IT & Services",
    "Network Administrator": "IT & Services",
    "IT Consultant": "IT & Services",
    "IT Analyst": "IT & Services",
    "IT Specialist": "IT & Services",
    "IT Infrastructure specialist": "IT & Services",
    "IT Head": "IT & Services",
    "Telco IT": "IT & Services",
    "solution architect": "IT & Services",
    "Solution Architect": "IT & Services",
    "Solutions Architect": "IT & Services",
    "Technical Lead": "IT & Services",
    "Technical lead": "IT & Services",
    "Technical Specialist": "IT & Services",
    "Technical Support Specialist": "IT & Services",
    "Technical Support": "IT & Services",
    "Support Executive": "IT & Services",
    "Support Lead": "IT & Services",
    "Tech support": "IT & Services",
    "technology": "IT & Services",
    "Technology": "IT & Services",

    # === Finance ===
    "Accountant": "Finance",
    "Accounting and finance ": "Finance",
    "Accounting and Auditing": "Finance",
    "Accounts & Finance Manager ": "Finance",
    "Auditor": "Finance",
    "Bank Manager": "Finance",
    "Banker": "Finance",
    "Business Analyst for Finance (Investment Management)": "Finance",
    "Chartered Accountant": "Finance",
    "Financial Advisor": "Finance",
    "Financial Analyst": "Finance",
    "Financial Consultant": "Finance",
    "Financial Planner": "Finance",
    "Finance Assistant": "Finance",
    "Finance Manager": "Finance",
    "Finance and Marketing": "Finance",
    "Finance Administrator": "Finance",
    "Finance Analyst": "Finance",
    "Investment Banker": "Finance",
    "Investment Analyst": "Finance",
    "Trader": "Finance",
    "Stock Trader": "Finance",
    "Stockbroker": "Finance",
    "Risk Analyst": "Finance",
    "Risk Anaylst": "Finance",
    "Risk Manager": "Finance",
    "Insurance Agent": "Finance",
    "Underwriter": "Finance",

    # === Manufacturing / Construction & Real Estate ===
    "Process Engineer": "Manufacturing",
    "senior process engineer": "Manufacturing",
    "Process manager ": "Manufacturing",
    "Production Manager": "Manufacturing",
    "Production Engineer": "Manufacturing",
    "Production ": "Manufacturing",
    "Mechanical Engineer": "Manufacturing",
    "Electrical Engineer": "Manufacturing",
    "Electrical engineer": "Manufacturing",
    "Civil Engineer": "Construction & Real Estate",
    "Civil Engg": "Construction & Real Estate",
    "Construction Manager": "Construction & Real Estate",
    "Real Estate Sales": "Construction & Real Estate",
    "Real Estate Broker": "Construction & Real Estate",
    "Real Estate Agent": "Construction & Real Estate",
    "real estate consultant": "Construction & Real Estate",

    # === Healthcare & Pharma ===
    "Doctor": "Healthcare & Pharma",
    "Doctor ": "Healthcare & Pharma",
    "Dentist": "Healthcare & Pharma",
    "Nurse": "Healthcare & Pharma",
    "Surgeon": "Healthcare & Pharma",
    "Radiologist": "Healthcare & Pharma",
    "Pharmacist": "Healthcare & Pharma",
    "Medical Officer": "Healthcare & Pharma",
    "Medical officer": "Healthcare & Pharma",
    "Healthcare": "Healthcare & Pharma",
    "Physiotherapist": "Healthcare & Pharma",
    "Psychotherapist": "Healthcare & Pharma",

    # === Government / PSU ===
    "Police Officer": "Government / PSU",
    "Civil Servant": "Government / PSU",
    "Government Officer": "Government / PSU",
    "Railways": "Government / PSU",
    "Railways ": "Government / PSU",
    "Postal Department": "Government / PSU",
    "Postal Worker": "Government / PSU",
    "PSU": "Government / PSU",
    "Banking & Operations": "Government / PSU",

    # === Defense ===
    "Army": "Defense",
    "Army ": "Defense",
    "Army officer": "Defense",
    "Navy ": "Defense",
    "Merchant Navy": "Defense",
    "Air Force": "Defense",
    "Airman": "Defense",
    "Defense": "Defense",
    "Defense sector": "Defense",

    # === Homemaker ===
    "House Maker": "Homemaker",
    "Home Maker": "Homemaker",
    "Homemaker": "Homemaker",

    # === Retired ===
    "Retired": "Retired",
    "Retired ": "Retired",
    "Retired Professional": "Retired",
    "Retired Professor": "Retired",

    # === Unemployed ===
    "Not Working": "Unemployed",
    "Unemployed": "Unemployed",

    # === Media & Entertainment ===
    "Artist": "Media & Entertainment",
    "Actor": "Media & Entertainment",
    "Musician": "Media & Entertainment",
    "Singer": "Media & Entertainment",
    "Music Teacher": "Education",
    "Film industry": "Media & Entertainment",
    "Journalist": "Media & Entertainment",
    "Content Creator": "Media & Entertainment",
    "Video Editor": "Media & Entertainment",
    "Animator": "Media & Entertainment",
    "Writer / Author": "Media & Entertainment",

    # === Others (fallback for everything else) ===
    "Others": "Others"
}

In [27]:
# apply mapping 
df1['Profession_Bucket'] = df1['Profession'].map(profession_mapping).fillna('Others')

In [28]:
df1.head()

,Payment,City,gender,Nature_Sign,Industry,Profession,Credit_Score,platform,device_model,income_lac,...,Personal_Loan,Consumer_Loan,Credit_Card,Education_Loan,Gold_Loan,Other_loan,New_Age_Bucket,Industry_clean,Industry_Bucket,Profession_Bucket
0,Not Paid,Rajkot,Male,Eagle,Education & Training,Professor,750.0,android,samsung::SM-M346B,18.28,...,0.0,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,education & training,Education,Education
1,Not Paid,Mumbai,Male,Turtle,NaN,NaN,750.0,ios,iPhone12,35.00,...,0.0,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,nan,Others,Others
2,Not Paid,Bangalore,Male,Turtle,NaN,NaN,864.0,ios,iPhone13,41.00,...,0.0,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,nan,Others,Others
3,Not Paid,Nadia district,Male,Turtle,Student,Trading+ business,NaN,android,realme::RMX3392,2.10,...,NaN,NaN,NaN,NaN,NaN,NaN,24 yrs and below,student,Education,Others
4,Not Paid,Delhi,Male,Turtle,Software & IT Services,Software Developer,753.0,android,motorola::motorola edge 50 fusion,32.00,...,1310000.0,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,software & it services,IT & Services,IT & Services

In [29]:
# check device model 
df1.device_model.unique()

array(['samsung::SM-M346B', 'iPhone12', 'iPhone13', 'realme::RMX3392',
       'motorola::motorola edge 50 fusion', 'OnePlus::CPH2413',
       'iPhone15Pro', 'motorola::moto g54 5G', 'OnePlus::AC2001',
       'iPhone7Plus', nan, 'asus::ASUS_X00TD', 'Redmi::22111317I',
       'iPhone11ProMax', 'Redmi::21091116AI', 'samsung::SM-A515F',
       'samsung::SM-M515F', 'samsung::SM-A546E', 'motorola::moto e13',
       'google::Pixel 7', 'iPhoneXR', 'motorola::moto g73 5G',
       'OnePlus::IN2011', 'iPhone14ProMax', 'samsung::SM-S911B',
       'samsung::SM-S918B', 'OnePlus::CPH2381', 'iPhone16Pro',
       'samsung::SM-G781B', 'iPhone14', 'xiaomi::Redmi Note 6 Pro',
       'OPPO::CPH2251', 'iPhone11', 'realme::RMX2170', 'OPPO::CPH2293',
       'iPhone12ProMax', 'POCO::23049PCD8I', 'iPhone15ProMax',
       'OnePlus::CPH2487', 'POCO::M2103K19PI', 'samsung::SM-M307F',
       'iPhone12Mini', 'samsung::SM-A032F', 'OnePlus::KB2001',
       'vivo::V2025', 'realme::RMX3197', 'realme::RMX3741',
       'google::Pixel 8 Pro', 'iPhone14Pro', 'OnePlus::LE2111',
       'OnePlus::LE2101', 'OnePlus::DN2101', 'samsung::SM-S928B',
       'iQOO::I2217', 'POCO::2311DRK48I', 'iPhone13Pro', 'OPPO::CPH2213',
       'OnePlus::CPH2447', 'realme::RMX3360', 'Redmi::23076RN4BI',
       'OPPO::CPH2461', 'samsung::SM-G990B2',
       'Redmi::Redmi Note 9 Pro Max', 'Nothing::AIN065',
       'OnePlus::CPH2573', 'samsung::SM-M315F', 'vivo::V2059',
       'samsung::SM-G996B', 'OnePlus::ONEPLUS A6010', 'OnePlus::HD1901',
       'samsung::SM-N980F', 'samsung::SM-A146B', 'iPhoneSE2ndGen',
       'Nothing::A063', 'iQOO::I2202', 'OnePlus::CPH2619',
       'realme::RMX1921', 'samsung::SM-N975U', 'Xiaomi::M2007J17I',
       'samsung::SM-S901E', 'OnePlus::CPH2423', 'OnePlus::GM1901',
       'vivo::V2060', 'iPhone15Plus', 'iPhone15', 'POCO::2201116PI',
       'samsung::SM-M127G', 'motorola::moto g82 5G',
       'motorola::motorola edge 30 fusion', 'samsung::SM-A528B',
       'OnePlus::CPH2569', 'OnePlus::NE2211', 'samsung::SM-E625F',
       'OnePlus::CPH2613', 'samsung::SM-M135FU', 'google::Pixel 7 Pro',
       'iPhone13ProMax', 'iPhone11Pro', 'google::Pixel 9 Pro XL',
       'realme::RMX3761', 'Redmi::M2101K6P',
       'motorola::motorola edge 40 neo', 'samsung::SM-S908E',
       'motorola::moto g32', 'iQOO::I2017', 'iPhone12Pro',
       'samsung::SM-S921B', 'iPadAir4thGen(WiFi)', 'samsung::SM-A736B',
       'Redmi::M2101K6I', 'samsung::SM-S926B', 'samsung::SM-G970F',
       'samsung::SM-M156B', 'POCO::2201117PI', 'Redmi::23090RA98I',
       'iPhone13Mini', 'OnePlus::CPH2585', 'vivo::V2222', 'vivo::V2030',
       'samsung::SM-E346B', 'realme::RMX3081', 'Redmi::M2101K7BI',
       'iQOO::I2011', 'xiaomi::Redmi Note 7 Pro', 'OnePlus::EB2101',
       'samsung::SM-G998B', 'OnePlus::CPH2411', 'Xiaomi::2107113SI',
       'motorola::moto g52', 'motorola::motorola edge 40', 'iPhoneXS',
       'google::Pixel 6a', 'Redmi::M2101K7AI', 'Xiaomi::2109119DI',
       'Redmi::2201117TI', 'Redmi::23073RPBFG', 'iQOO::I2019',
       'OPPO::CPH1938', 'OnePlus::LE2121', 'iQOO::I2223',
       'OnePlus::ONEPLUS A6000', 'samsung::SM-A226B', 'OnePlus::GM1911',
       'realme::RMX3241', 'OnePlus::IV2201', 'realme::RMX3370',
       'iPhone14Plus', 'vivo::V2202', 'vivo::V2230', 'Redmi::22041216I',
       'vivo::V2158', 'Redmi::220333QBI', 'Xiaomi::2201122G',
       'samsung::SM-F415F', 'samsung::SM-M145F', 'vivo::V2303',
       'motorola::moto g(40) fusion', 'vivo::vivo 2018', 'iQOO::I2301',
       'OnePlus::CPH2661', 'Redmi::22101316I', 'Xiaomi::21091116I',
       'Redmi::2201116SI', 'Mi::M2012K11AI', 'TECNO::TECNO KG8',
       'iQOO::I2126', 'Redmi::22041219I', 'iPhone16',
       'samsung::SM-A307FN', 'samsung::SM-E546B', 'Redmi::23027RAD4I',
       'iPhone7', 'Redmi::M2006C3MII', 'samsung::SM-A156E',
       'samsung::SM-M336BU', 'samsung::SM-E236B', 'samsung::SM-M326B',
       'samsung::SM-A507FN', 'OnePlus::CPH2467', 'samsung::SM-M325F',
       'realme::RMX3242', 'Xiaomi::Redmi K20', 'iQOO::I2018',
       'google::Pixel 3', 'samsung::SM-G990E', 'samsung::SM-A346E',
       'Redmi::Redmi Note 8 Pro', 'google::Pixel 9 Pro',
       'OnePlus::MT2111', 'realme::RMX1931', 'OPPO::CPH2531',
       'xiaomi::Redmi Note 5 Pro', 'OnePlus::HD1911', 'TECNO::TECNO LH8n',
       'realme::RMX3686', 'iPad9thGen(WiFi)', 'motorola::moto g62 5G',
       'Infinix::Infinix X6525B', 'OnePlus::CPH2401', 'samsung::SM-G780F',
       'iPhoneX', 'Redmi::2406ERN9CI', 'samsung::SM-A236E',
       'samsung::SM-E156B', 'realme::RMX3031', 'samsung::SM-N975F',
       'realme::RMX2151', 'OnePlus::CPH2491', 'Redmi::2312DRAABI',
       'Xiaomi::POCO F1', 'motorola::motorola edge 30',
       'Infinix::Infinix X6851', 'Redmi::M2103K19I', 'vivo::vivo 1915',
       'realme::RMX3471', 'samsung::SM-M146B', 'POCO::POCO M2 Pro',
       'vivo::V2040', 'samsung::SM-M215F', 'samsung::SM-G770F',
       'realme::RMX3085', 'vivo::V2152', 'OnePlus::ONEPLUS A5010',
       'samsung::SM-A536E', 'samsung::SM-E225F', 'samsung::SM-F916B',
       'Redmi::Redmi Note 10 Lite', 'samsung::SM-A336E',
       'samsung::SM-X810', 'Redmi::2201116TI', 'xiaomi::Redmi Y3',
       'motorola::moto g84 5G', 'OPPO::CPH2357', 'realme::RMX3312',
       'OPPO::CPH2023', 'OPPO::CPH2521', 'iQOO::I2214',
       'LAVA::LAVA LXX504', 'Redmi::22101316UP', 'vivo::vivo 1818',
       'OPPO::CPH2119', 'Redmi::M2003J15SC', 'motorola::moto g(60)',
       'OPPO::CPH2061', 'motorola::moto g85 5G', 'iQOO::I2201',
       'realme::RMX3771', 'samsung::SM-M317F', 'iQOO::I2207',
       'samsung::SM-A556E', 'vivo::V2029', 'Realme::RMX1901',
       'samsung::SM-N986B', 'vivo::V2240', 'OnePlus::ONEPLUS A5000',
       'samsung::SM-S908U1', 'Redmi::Redmi Note 9 Pro',
       'samsung::SM-S711B', 'Xiaomi::Redmi K20 Pro', 'samsung::SM-G991B',
       'OPPO::CPH2505', 'samsung::SM-C900F', 'asus::ASUS_I003DD',
       'realme::RMX3381', 'POCO::POCO X2', 'OPPO::CPH1933',
       'Nokia::Nokia X30 5G', 'samsung::SM-F946B', 'OPPO::CPH2015',
       'HONOR::ANY-NX1', 'OPPO::CPH2599', 'google::Pixel 2 XL',
       'vivo::V2307', 'OPPO::CPH1969', 'motorola::moto g 5G',
       'vivo::vivo 1820', 'samsung::SM-M536B', 'iPadAir2',
       'Redmi::21061119BI', 'vivo::V2022', 'realme::RMX3710',
       'OnePlus::ONEPLUS A6003', 'iPadPro5thGen', 'iPhoneSE3rdGen',
       'Infinix::Infinix X663', 'realme::RMX3998',
       'motorola::motorola one fusion+', 'vivo::V2109', 'realme::RMX3521',
       'OPPO::CPH2285', 'Redmi::M2010J19SI', 'google::Pixel 6',
       'iQOO::I2012', 'samsung::SM-A536U1', 'realme::RMX2001',
       'motorola::moto g22', 'samsung::SM-A127F', 'motorola::moto g34 5G',
       'realme::RMX1971', 'Redmi::22120RN86I', 'vivo::vivo 1919',
       'motorola::motorola edge 20 fusion', 'google::Pixel 7a',
       'samsung::SM-M356B', 'iPhoneXSMax',
       'motorola::motorola edge 50 pro', 'Xiaomi::Mi A3', 'OPPO::CPH2083',
       'samsung::SM-G965F', 'realme::RMX2161', 'motorola::moto g13',
       'samsung::SM-A037F', 'motorola::moto g64 5G', 'Xiaomi::M2012K11I',
       'realme::RMX3371', 'motorola::moto g71 5G',
       'motorola::motorola edge 50 neo', 'Nothing::A015',
       'realme::RMP2204', 'google::Pixel 8', 'samsung::SM-S906E',
       'vivo::V2055', 'Redmi::M2101K7AG', 'LAVA::LAVA LXX507',
       'realme::RMX3151', 'vivo::V2141', 'vivo::vivo 1933',
       'realme::RMX3301', 'OPPO::CPH2095', 'vivo::V2151',
       'realme::RMX3171', 'vivo::V2308', 'realme::RMX2117',
       'OPPO::CPH2359', 'xiaomi::Mi A2', 'Infinix::Infinix X689',
       'POCO::M2010J19CI', 'realme::RMX3780', 'iQOO::I2305',
       'samsung::SM-N950F', 'samsung::SM-M426B', 'vivo::vivo 1917',
       'TECNO::TECNO AD11', 'xiaomi::Redmi Note 7S', 'vivo::V2105',
       'realme::RMX3840', 'OPPO::CPH2607', 'realme::RMX3842',
       'samsung::SM-A315F', 'vivo::V2045', 'samsung::SM-S918W',
       'OPPO::CPH2239', 'realme::RMX3612', 'POCO::22031116AI',
       'Redmi::M2004J19C', 'samsung::SM-G950F', 'realme::RMX3868',
       'Redmi::23124RN87I', 'asus::ASUS_I005DA', 'vivo::V2144',
       'realme::RMX2189', 'vivo::V2251', 'POCO::23122PCD1I',
       'iPadAir11inch(6thGeneration)Wi-Fi', 'vivo::V2336', 'vivo::V2246',
       'OPPO::RMX1801', 'realme::RMX3571', 'Xiaomi::Redmi 4',
       'POCO::M2007J20CI', 'Nothing::A142', 'iPhone8', 'vivo::V2312',
       'POCO::2310FPCA4I', 'OPPO::CPH2629', 'OnePlus::IN2021',
       'google::Pixel 4a', 'iQOO::I2203', 'vivo::V2130', 'vivo::V2153',
       'POCO::24069PC21I', 'POCO::22111317PI', 'realme::RMX1992',
       'samsung::SM-A125F', 'google::Pixel 6 Pro', 'samsung::SM-M526B',
       'samsung::SM-F956B', 'motorola::motorola edge 20 pro',
       'OPPO::CPH2527', 'Nokia::Nokia G21', 'samsung::SM-F731B',
       'Redmi::M2006C3LII', 'realme::RMX3491', 'samsung::SM-S906U1',
       'samsung::SM-A525F', 'LAVA::LAVA LXX503', 'vivo::V2319',
       'POCO::M2004J19PI', 'iPadPro3rdGen', 'OPPO::CPH2525',
       'samsung::SM-A217F', 'vivo::V2050', 'POCO::22127PC95I',
       'realme::RMX3867', 'iQOO::I1927', 'OnePlus::CPH2649',
       'samsung::SM-F711B', 'samsung::SM-G985F', 'google::Pixel 9',
       'iPadAir5thGen(WiFi)', 'iQOO::I2220', 'motorola::motorola edge 20',
       'POCO::22101320I', 'vivo::V2204', 'Xiaomi::Redmi 8',
       'realme::RMX1911', 'Redmi::23053RN02I', 'samsung::SM-S916B',
       'motorola::moto g72', 'iPhone16ProMax', 'xiaomi::Redmi Note 8',
       'realme::RMX1925', 'samsung::SM-C701F', 'vivo::V2126',
       'realme::RMX2156', 'samsung::SM-A356E', 'Redmi::220233L2I',
       'Realme::RMX1851', 'OPPO::CPH1989', 'samsung::SM-A505F',
       'iQOO::I2009', 'samsung::SM-A225F', 'POCO::22041219PI',
       'Redmi::2312DRA50I', 'realme::RMX3851', 'samsung::SM-M136B',
       'samsung::SM-G960F', 'vivo::vivo 1713', 'samsung::SM-G973F',
       'OnePlus::CPH2399', 'samsung::SM-N986U1', 'realme::RMX3853',
       'vivo::V2142', 'iQOO::I2208', 'samsung::SM-N770F',
       'samsung::SM-M215G', 'OPPO::CPH2603', 'xiaomi::Redmi Y2',
       'vivo::vivo 1935', 'OPPO::CPH2341', 'samsung::SM-A042F',
       'OPPO::CPH2387', 'Redmi::2311DRN14I', 'realme::RMX3395',
       'POCO::22021211RI', 'LAVA::LAVA LXX506', 'iQOO::I2022',
       'OnePlus::GM1910', 'vivo::V2318', 'realme::RMX3785',
       'xiaomi::Redmi 6', 'OnePlus::LE2125', 'samsung::SM-A325F',
       'samsung::SM-N960F', 'HONOR::REA-NX9', 'iPhone16Plus',
       'vivo::V2321', 'iQOO::I2206', 'google::Pixel 5', 'OnePlus::NE2213',
       'OPPO::CPH2591', 'samsung::SM-N9600', 'OPPO::CPH2263',
       'vivo::vivo 1916', 'POCO::M2006C3MI', 'realme::RMX3630',
       'vivo::V2339', 'realme::RMX2193', 'samsung::SM-E146B',
       'samsung::SM-F9460', 'samsung::SM-F721B', 'TECNO::TECNO BG6',
       'google::Pixel 8a', 'OnePlus::CPH2551', 'Xiaomi::23127PN0CG',
       'realme::RMX3999', 'OPPO::CPH2371', 'samsung::SM-E135F',
       'OPPO::CPH2321', 'OPPO::CPH2363', 'samsung::SM-X210',
       'realme::RMX3231', 'samsung::SM-A305F', 'realme::RMX3430',
       'samsung::SM-G975F', 'realme::RMX3660', 'OPPO::CPH2637',
       'TECNO::TECNO LG7n', 'iPadPro12.9inch(6thGeneration)Wi-Fi',
       'vivo::V2247', 'Redmi::24115RA8EI', 'HUAWEI::LYA-L29',
       'Nothing::A142P', 'samsung::SM-A715F', 'Xiaomi::21091116UI',
       'vivo::V2114', 'vivo::vivo 1907', 'OPPO::CPH2001', 'OPPO::CPH2495',
       'vivo::vivo 1902', 'iQOO::I2127', 'vivo::V2129', 'vivo::V2250',
       'Itel::itel P661N', 'motorola::moto g42', 'vivo::V2228',
       'OPPO::CPH2385', 'realme::RMX3921', 'motorola::moto g14',
       'realme::RMX3269', 'lge::LM-G850', 'samsung::SM-G885F',
       'samsung::SM-A705GM', 'Infinix::Infinix X695', 'vivo::V2225',
       'vivo::vivo 1920', 'OPPO::CPH2223', 'Nokia::Nokia G42 5G',
       'vivo::V2348', 'OPPO::CPH2553', 'motorola::motorola edge 30 ultra',
       'OPPO::CPH2625', 'vivo::vivo 2006', 'TECNO::TECNO CK8n',
       'OnePlus::CPH2415', 'samsung::SM-A235F', 'samsung::SM-A600F',
       'realme::RMX3092', 'motorola::moto g45 5G', 'vivo::V2315',
       'realme::RMX3561', 'POCO::2302EPCC4I', 'xiaomi::Redmi 6 Pro',
       'vivo::vivo 1819', 'vivo::V2231', 'vivo::V2031',
       'motorola::moto g24 power', 'realme::RMX3750', 'vivo::V2036',
       'Xiaomi::24053PY09I', 'OPPO::CPH1907', 'vivo::vivo 2004',
       'OPPO::CPH1819', 'samsung::SM-A750F', 'motorola::motorola razr 40',
       'motorola::motorola edge 50 ultra', 'vivo::vivo 1951',
       'OPPO::CPH2455', 'Infinix::Infinix X6731', 'OPPO::CPH1901',
       'OPPO::CPH2219', 'vivo::V2253', 'samsung::SM-M115F',
       'OPPO::CPH2337', 'Lenovo::Lenovo TB-8505X',
       'iPad(10thGeneration)Wi-Fi', 'samsung::SM-S721B', 'POCO::211033MI',
       'Xiaomi::23043RP34I', 'samsung::SM-S926U1',
       'Infinix::Infinix X6739', 'samsung::SM-N975U1', 'iPhone8Plus',
       'samsung::SM-A135F', 'samsung::SM-M305F', 'POCO::23128PC33I',
       'iPadPro', 'realme::RMX2030', 'OPPO::CPH1945', 'OPPO::CPH2059',
       'OPPO::CPH2375', 'vivo::V2207', 'Infinix::Infinix X676B',
       'POCO::M2102J20SG', 'samsung::SM-E426B', 'iPad6thGen',
       'vivo::V2168', 'TECNO::TECNO LF7', 'HONOR::FNE-NX9',
       'samsung::SM-S906B', 'vivo::V2145', 'Nokia::Nokia 8.1',
       'Infinix::Infinix X6832', 'vivo::V2111', 'samsung::SM-A725F',
       'motorola::motorola edge 50', 'POCO::23076PC4BI',
       'Infinix::Infinix X6851B', 'motorola::motorola edge 30 pro',
       'realme::RMX3388', 'Xiaomi::2107113SG', 'OnePlus::OPD2203',
       'OPPO::RMX1805', 'OnePlus::GM1913', 'vivo::vivo 1723',
       'samsung::SM-F731U1', 'lge::LM-F100', 'Xiaomi::M2007J3SP',
       'vivo::V2047', 'Redmi::M2006C3LI', 'POCO::M2102J20SI',
       'vivo::V2351', 'TECNO::TECNO LE7', 'vivo::V2037',
       'OnePlus::GM1917', 'Xiaomi::M2102K1G', 'motorola::moto g(9)',
       'OPPO::CPH1931', 'samsung::SM-G611F',
       'iPadPro11inch(4rdGeneration)Wi-Fi', 'asus::ASUS_Z01RD',
       'HONOR::COR-AL00', 'OPPO::CPH2269', 'OnePlus::IN2015',
       'OPPO::CPH1859', 'samsung::SM-F741B', 'realme::RMX3782',
       'realme::RMX2061', 'samsung::SM-S918U1', 'samsung::SM-S906U',
       'samsung::SM-G950U1', 'Micromax::IN1', 'vivo::V2219',
       'vivo::V2205', 'Redmi::22011119TI', 'samsung::SM-G955F',
       'iQOO::I2304', 'HONOR::ALI-NX1', 'OPPO::CPH2249',
       'Infinix::Infinix X693', 'OPPO::CPH2201', 'samsung::SM-N970F',
       'iPhone6S', 'Redmi::22081283G', 'vivo::vivo 1904', 'OPPO::CPH1955',
       'OnePlus::EB2103', 'TECNO::TECNO AD8', 'Infinix::Infinix X6711',
       'realme::RMX3461', 'vivo::V2132', 'OnePlus::HD1925',
       'OnePlus::CPH2691', 'samsung::SM-A725M', 'vivo::V2309',
       'Infinix::Infinix X682C', 'samsung::SM-J730GM',
       'TECNO::TECNO AD10', 'samsung::SM-X820', 'vivo::V2218',
       'OPPO::CPH2667', 'Infinix::Infinix X6871',
       'motorola::Moto G (5S) Plus', 'samsung::SM-F7310', 'OPPO::CPH2161',
       'TECNO::TECNO LI9', 'samsung::SM-F946N', 'samsung::SM-G981U',
       'realme::RMX3762', 'samsung::SM-A055F', 'realme::RMX3501',
       'HONOR::COL-AL10', 'Infinix::Infinix X6861', 'OPPO::CPH1911',
       'OPPO::CPH2127', 'Xiaomi::M2101K9AI',
       'motorola::motorola one power', 'OnePlus::LE2115', 'vivo::V2046',
       'LAVA::LAVA LXX505', 'Infinix::Infinix X6517', 'samsung::SM-N970U',
       'vivo::V2338', 'TECNO::TECNO AC8', 'OPPO::CPH2477',
       'OPPO::CPH1809', 'OPPO::CPH2665', 'Xiaomi::M2007J3SI',
       'samsung::SM-A707F', 'iQOO::I2212', 'OPPO::RMX1807',
       'Micromax::IN_Note1', 'HUAWEI::STK-L22',
       'motorola::moto g(10) power', 'realme::RMX3563',
       'samsung::SM-S908B', 'realme::RMX2002', 'Nothing::A065',
       'samsung::SM-S918U', 'Infinix::Infinix X6838',
       'Infinix::Infinix X671B', 'realme::RMX2020', 'samsung::SM-G988B',
       'samsung::SM-S938B', 'HUAWEI::INE-LX1r', 'samsung::SM-F731U',
       'vivo::V2058', 'OPPO::CPH2643', 'vivo::V2146', 'HONOR::ELI-NX9',
       'Infinix::Infinix X663C', 'samsung::SCG20', 'samsung::SM-S711U1',
       'POCO::M2104K10I', 'OPPO::CPH1937', 'TECNO::TECNO CK9n',
       'Xiaomi::2210132G', 'Xiaomi::Mi 10'], dtype=object)

In [30]:
def get_device_brand(device):
    if pd.isna(device):
        return 'Unknown'
    device = device.lower()
    if 'iphone' in device or 'ipad' in device:
        return 'Apple'
    elif "samsung" in device:
        return 'Samsung'
    elif 'oneplus' in device:
        return "One-plus"
    elif 'redmi' in device or 'xiaomi' in device or 'mi' in device:
        return "Xiaomi/Redmi"
    else:
        return "Others"

In [31]:
# apply to column 
df1['Device_Brand'] = df1['device_model'].apply(get_device_brand)

#check of counts
print(df1["Device_Brand"].value_counts())

Device_Brand
Apple           3750
Others          1882
One-plus        1565
Samsung         1531
Xiaomi/Redmi     715
Unknown          167
Name: count, dtype: int64

In [32]:
df1.sample(20)

,Payment,City,gender,Nature_Sign,Industry,Profession,Credit_Score,platform,device_model,income_lac,...,Consumer_Loan,Credit_Card,Education_Loan,Gold_Loan,Other_loan,New_Age_Bucket,Industry_clean,Industry_Bucket,Profession_Bucket,Device_Brand
1193,Not Paid,Dera Gopipur,Male,Turtle,Software & IT Services,Project Manager,808.0,android,samsung::SM-S918B,9.84,...,0.0,48834.0,0.0,0.0,38478.0,25 yrs to 34 yrs,software & it services,IT & Services,Others,Samsung
4802,Not Paid,Rajkot,Male,Tiger,Software & IT Services,Software Developer,830.0,ios,iPhone14,12.00,...,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,software & it services,IT & Services,IT & Services,Apple
1223,Not Paid,Moga,Male,Turtle,Others,Others,750.0,NaN,NaN,4.24,...,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,others,Others,Others,Unknown
7245,Not Paid,Mumbai,Male,Eagle,NaN,NaN,845.0,ios,iPhone12,58.00,...,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,nan,Others,Others,Apple
43,Not Paid,Chennai,Female,Turtle,Architecture,Business,800.0,android,OnePlus::CPH2487,25.00,...,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,architecture,Construction & Real Estate,Others,One-plus
5100,Not Paid,Pune,Male,Tiger,NaN,NaN,NaN,android,samsung::SM-S918B,66.00,...,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,nan,Others,Others,Samsung
4350,Not Paid,Delhi,Male,Turtle,Software & IT Services,Cybersecurity Specialist,750.0,ios,iPhone15Plus,12.00,...,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,software & it services,IT & Services,IT & Services,Apple
6825,Not Paid,Mumbai,Male,Turtle,BFSI,Product Manager,830.0,ios,iPhone13,13.00,...,0.0,32261.0,0.0,0.0,0.0,25 yrs to 34 yrs,bfsi,Finance,Others,Apple
9012,Not Paid,Pune,Male,Tiger,NaN,NaN,NaN,android,samsung::SM-A225F,20.00,...,0.0,0.0,0.0,0.0,0.0,45 yrs & Above,nan,Others,Others,Samsung
4085,Not Paid,Mysuru,Male,Turtle,BFSI,Private Banker,790.0,android,OnePlus::DN2101,11.00,...,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,bfsi,Finance,Others,One-plus
9229,Not Paid,Bengaluru,Male,Turtle,Software & IT Services,Software Developer,800.0,android,samsung::SM-S901E,66.00,...,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,software & it services,IT & Services,IT & Services,Samsung
1152,Not Paid,Lucknow,Male,Turtle,NaN,NaN,820.0,ios,iPhone13,13.00,...,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,nan,Others,Others,Apple
3096,Not Paid,Bengaluru,Male,Turtle,NaN,NaN,750.0,android,OnePlus::NE2211,15.00,...,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,nan,Others,Others,One-plus
4501,Not Paid,Bengaluru,Male,Horse,Software & IT Services,Data Analyst,780.0,android,OnePlus::CPH2585,11.60,...,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,software & it services,IT & Services,IT & Services,One-plus
2165,Not Paid,Bengaluru,Male,Eagle,Software & IT Services,Software Developer,750.0,android,OnePlus::CPH2447,43.50,...,0.0,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,software & it services,IT & Services,IT & Services,One-plus
7848,Not Paid,Hyderabad,Male,Eagle,NaN,NaN,790.0,android,samsung::SM-E146B,39.00,...,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,nan,Others,Others,Samsung
9197,Paid_Mild Positive,Mumbai,Male,Elephant,BFSI,Chief Financial Officer,750.0,ios,iPhone13,97.16,...,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,bfsi,Finance,Others,Apple
1798,Not Paid,Bareilly,Male,Turtle,Software & IT Services,Human Resources,762.0,android,Redmi::M2103K19I,3.60,...,0.0,11000.0,0.0,0.0,0.0,25 yrs to 34 yrs,software & it services,IT & Services,Others,Xiaomi/Redmi
8696,Not Paid,Shimla,Male,Turtle,Software & IT Services,Software Developer,750.0,ios,iPhone14Plus,30.00,...,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,software & it services,IT & Services,IT & Services,Apple
609,Not Paid,Pune,Male,Turtle,Software & IT Services,Software Developer,750.0,android,samsung::SM-A536E,60.00,...,0.0,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,software & it services,IT & Services,IT & Services,Samsung

In [33]:
df1.City_Group.unique()

array(['Tier II & below', 'Mumbai', 'Bengaluru', 'Delhi NCR', 'Pune',
       'Kolkata', 'Chennai', 'Hyderabad', 'Ahmedabad'], dtype=object)

In [34]:
df1.City.unique()

array(['Rajkot', 'Mumbai', 'Bangalore', 'Nadia district', 'Delhi',
       'Gautam Buddha Nagar', 'Thane', 'Bengaluru', 'Pune', 'Bhopal',
       'Dhanbad', 'Surat', 'Ranchi', 'Kolkata', 'Bhiwadi', 'Gurgaon',
       'Siwan', 'Ghaziabad', 'Coimbatore', 'Mathura', 'Chennai',
       'Hyderabad', 'Kanpur', 'Mumbai Suburban', 'Cuddapah', 'West Delhi',
       'East Delhi', 'Kolar', 'Cochin', 'Ahmedabad', 'Gwalior',
       'Guwahati', 'Lucknow', 'Navi Mumbai', 'Vadodara', 'Dehradun',
       'Noida', 'New Delhi', 'Raebareli', 'Bhubaneshwar', 'Faridabad',
       'Akola', 'Mohali', 'South West Delhi', 'Nagpur', 'Nashik',
       'North West Delhi', 'Muradabad', 'Jhunjhunun', 'Nellore',
       'Durgapur', 'Sehore', 'Jamshedpur', 'Greater Noida',
       'Central Delhi', 'Indore', 'Bhatinda', 'North Delhi', 'Manali',
       'Maharajganj', 'bangalore', 'Bulandshahr', 'Bangalore Urban',
       'Bishnupur', 'Ahmadnagar', 'Gandhidham', 'Palghar', 'South Delhi',
       'Pitampura', 'Udaipur', 'Jabalpur', 'Kollam', 'Raiganj',
       'Chandigarh', 'Patiala', 'Patna', 'Bahadurgarh', 'Tumakuru',
       'Ludhiana', 'Jamnagar', 'Jalgaon', 'Varanasi', 'Anantapur',
       'Siliguri', 'Auraiya', 'North East Delhi', 'Sitamarhi', 'Silchar',
       'Ankleshwar', 'Bharuch', 'Latur', 'Mandi', 'Amritsar', 'Jalandhar',
       'Yamunanagar', 'Virar', 'Aizawl', 'Bhubaneswar', 'Jammu',
       'Tirunelveli', 'Muzaffarnagar', 'Sonipat', 'Mysuru', 'Jaipur',
       'Hubballi', 'Moradabad', 'Bhavnagar', 'Thiruvananthapuram',
       'Borivali', 'Pali, Raigad', 'Panipat', 'Ganganagar', 'Azamgarh',
       'Rohtak', 'Bikaner', 'Manipal', 'Paradip Garh', 'Sibsagar',
       'Gandhinagar', 'Chikkamagaluru', 'Yavatmal', 'Ambala', 'Guntur',
       'Ernakulam', 'Srinagar', 'Meerut', 'Udhampur', 'Rishikesh',
       'Hoshiarpur', 'Hadapsar, Pune', 'Ahmednagar', 'Sri Muktsar Sahib',
       'Dod Ballapur', 'Haldwani', 'Bidar', 'Pathankot', 'Port Blair',
       'Mansa', 'Mulund', 'Amravati', 'Firozabad', 'Angul', 'Bhagalpur',
       'Thrissur', 'Chandannagar', 'Lakhisarai', 'Jodhpur', 'Saharanpur',
       'Singrauli', 'Agra', 'Ajmer', 'Almora', 'Balasore', 'Haridwar',
       'Hanumangarh', 'Bellary', 'Ashoknagar', 'Ongole', 'Aurangabad',
       'Bhilwara', 'Sirsa', 'Banswara', 'Karnal', 'Sangli',
       'Jodhpur (Ahmedabad)', 'Jhansi', 'Bareilly', 'Jorhat', 'Diphu',
       'Ballary', 'Satna', 'Chitrakoot Dham', 'Adoni', 'Dubrajpur',
       'Dhar', 'Baramati', 'Chandrapur', 'Gorakhpur', 'Kottayam', 'Solan',
       'Malakanagiri', 'Navsari', 'Nanded', 'Satara', 'Mapuca', 'Kota',
       'Kolhapur', 'Sambalpur', 'Alwar', 'Vijayapura', 'Nadiad',
       'Bharatpur', 'Cuttack', 'Dungarpur', 'Barmer', 'Allahabad',
       'Pakur', 'Raigarh', 'Kurukshetra', 'Nizamabad', 'Tezpur',
       'Bhandardara', 'Bagha Purana', 'Cherrapunji', 'Darjeeling',
       'Bhandara', 'Ranikhet', 'North Goa', 'Ghazipur', 'Godhra',
       'Roorkee', 'Dera Gopipur', 'Samastipur', 'Kalaburgi', 'Bhuj',
       'Kulu', 'Giridih', 'Vasco da Gama', 'Bokaro', 'Dhoraji', 'Moga',
       'Raurkela', 'Mangaluru', 'Dombivli', 'Goa', 'Panvel', 'Jagdishpur',
       'Bilaspur', 'Jhajjar', 'Parbhani', 'Imphal', 'New Panvel',
       'Mahoba', 'Rohini', 'Chittaurgarh', 'Unnao', 'Lonavla', 'Sheohar',
       'Wardha', 'Chamba', 'Munger', 'Bageshwar', 'Kharagpur', 'Mehsana',
       'Deogarh', 'Kanniyakumari', 'Bardhaman', 'Pithoragarh', 'Jaito',
       'Davangere', 'Mayurbhanj', 'Rudraprayag', 'Ratnagiri', 'Bhilai',
       'Vizianagaram', 'Silvassa', 'Khurja', 'Vijayawada', 'Muzaffarpur',
       'Palghat', 'Betamcherla', 'Jamtara', 'Seoni', 'Katni',
       'Faridabad District', 'Prayagraj (Allahabad)', 'Agartala',
       'Belagavi', 'Seohara', 'Alibag', 'Karwar', 'Balaghat', 'Ramnagar',
       'Dhule', 'Gangtok', 'Vaijapur', 'Najafgarh', 'Bhanjanagar',
       'Punch', 'Rayagada', 'Khunti', 'Asansol', 'Kalyan', 'Ujjain',
       'Kurnool', 'Udupi', 'Bhiwani', 'Porbandar', 'Barasat',
       'Shahjahanpur', 'Ichalkaranji', 'Siddharthnagar',
       'Udham Singh Nagar', 'Purnia', 'Narayanpet', 'Ramgarh', 'Manawar',
       'Pilkhua', 'Jind', 'Buxar', 'Kodarma', 'Rewari', 'Jagdalpur',
       'Mothihari', 'Mahemdavad', 'Badnawar', 'Karimganj', 'Nagapur',
       'Ballari', 'Raipur', 'Kangra', 'Shimla', 'Pauri', 'Rupnagar',
       'Thrissur District', 'Vikhroli', 'Hosur', 'Ambikapur',
       'Alipurduar', 'Gangoh', 'Hapur', 'Tanuku', 'Hoshangabad', 'Ganjam',
       'Damoh', 'Nagaur', 'Belgaum', 'Deoria', 'Navelim', 'Bundi',
       'Murshidabad', 'Ulhasnagar', 'Rajauri', 'Cooch Behar', 'Bhadra',
       'Khallikot', 'Cuttak', 'Pashchim Champaran', 'Visakhapatnam',
       'Hisar', 'Bijnor', 'Gurdaspur', 'Kichha', 'Gondia', 'Chittorgarh',
       'Sahibganj', 'Vapi', 'Airoli', 'Alappuzha', 'Sarangarh',
       'Kalahandi', 'Nangloi Jat', 'Rapar', 'Balugaon', 'Tirupati',
       'Chembur', 'Brahmapur', 'Paonta Sahib', 'Khandwa',
       'Arambagh community development block', 'Madgaon', 'Balangir',
       'Solapur', 'Amethi', 'Jamalpur', 'Kizhake Chalakudi', 'Morena',
       'Korba', 'Charkhi Dadri', 'Buldhana', 'Suluru', 'Hooghly district',
       'Kalyani', 'Baghpat', 'Palampur', 'Naini Tal', 'Khammam',
       'Kannauj', 'Tikamgarh', 'Palakkad district', 'Jalalpur',
       'Padrauna', 'Malkapur', 'Aligarh', 'Hathras', 'Tundla',
       'Jharsuguda', 'Vidisha', 'Tiruppur', 'Sagar', 'Vashi',
       'Birbhum district', 'Shivpuri', 'Ponda', 'Basti', 'Punganuru',
       'Fatehpur', 'Bankura', 'Chikhli (Buldhana)', 'Malappuram',
       'Shirdi', 'Tonk', 'Ballia', 'Begusarai', 'Ratlam', 'Suratgarh',
       'Sindhudurg', 'Maihar', 'Zira', 'Cuddalore', 'Rampur', 'Hojai',
       'Pali', 'Dharamsala', 'Kapurthala', 'Dumka', 'Lonar', 'Lakhimpur',
       'Kozhikode', 'Madhepura', 'Gadag', 'Deoli', 'Mahabubabad',
       'Jalpaiguri', 'Akaltara', 'Bhiwandi', 'Narwana', 'Sangrur',
       'Tiruchirappalli', 'Panaji', 'Vellore', 'Nalbari', 'Mundra',
       'Jagtial', 'Fatehgarh Sahib', 'Phagwara', 'Pilibhit',
       'Paschim Medinipur district', 'Tinsukia', 'Datia', 'Hamirpur',
       'Kochi', 'Bhusawal', 'Chhatarpur', 'Karur', 'Panchgani',
       'Narasaraopet', 'Farrukhabad', 'Along', 'Karimnagar', 'Bettiah',
       'Kamrup Metropolitan', 'Karaikal', 'Madurai', 'Kannur', 'Gondal',
       'Kathua', 'Darbhanga', 'Chhindwara', 'Raniganj', 'Shillong',
       'Itanagar', 'Rajapalaiyam', 'Vaduj', 'Tezu', 'Amalapuram',
       'Jaisalmer', 'Dera Bassi', 'Nandura', 'Villupuram', 'Kohima',
       'Sahibabad', 'Beed', 'Chamoli', 'Kaithal', 'Sangaria',
       'Mahrajganj', 'Kotdwara', 'Kapadvanj', 'Godda', 'Bhubneshwar',
       'Rewa', 'Valsad', 'Anand', 'Warora', 'Mandsaur', 'Kashipur',
       'Nandurbar', 'Saharsa', 'Bahraich', 'Mainpuri', 'Miraj',
       'Mangalore', 'Hingoli', 'Palanpur', 'Shupiyan', 'Sikar', 'Parola',
       'South Goa', 'Karanja Lad', 'Chowari', 'Raxaul', 'Samba', 'Jajpur',
       'Rohtas', 'Bargarh', 'Hospet', 'Buddh Gaya', 'Sarangpur',
       'Puducherry', 'Malaut', 'Devbhumi Dwarka', 'Gopalpur',
       'Davanagere', 'Panjim', 'Jeypore', 'Dahod', 'Mandya', 'Mumbbai',
       'Vizianagaram District', 'Dimapur', 'Panchkula', 'Thiruthani',
       'Sitapur', 'Bhadrak', 'Shimoga', 'Karad', 'Bangalore Rural',
       'Kotputli', 'Kushinagar', 'Anakapalle', 'Dharmanagar', 'Dibrugarh',
       'Bathinda', 'Ahmadnagar Cantonment', 'Firozpur District', 'Howrah',
       'Guna', 'Raichur', 'Ayodhya', 'Kakinada', 'Ramanathapuram',
       'Bhadohi', 'Alwaye', 'Navi Mumbai Panvel', 'Jalna', 'Garautha',
       'Palwal', 'Pune Division', 'Mahuva', 'Kumbakonam', 'Dabwali',
       'Golaghat', 'Amreli', 'Baroda', 'Bulandshahar', 'Itarsi',
       'Vikasnagar', 'Bazpur', 'Rajpura', 'Ambarnath', 'Gharaunda',
       'Gurgoan', 'Shahid Bhagat Singh Nagar', 'Bijapur', 'Jalore',
       'Akluj', 'Kanker', 'Mysore', 'Powai', 'Nagaon', 'Ariyalur',
       'Junagadh', 'Hassan', 'Salem', 'Chockli', 'Kharar', 'Dharwad',
       'Prayagraj', 'Kendrapara', 'Trivandrum', 'Basavakalyan',
       'Chittoor', 'Kishangarh', 'Karol Bagh', 'Bhandup', 'Dombivali',
       'Badlapur', 'Shamli', 'Narnaul', 'Goregaon', 'Behror', 'Kampli',
       'Berhampur', 'Ghatkopar', 'Gulbarga', 'Malda'], dtype=object)

In [35]:
# mapping for city 
def get_city_name(city):
    if pd.isna(city):
        return 'Unknown'
    elif ("Mumbai" in city or 'Virar' in city or 'Dombivli' in city or 'New Panvel' in city 
          or 'Panvel' in city or 'Kalyan' in city or 'Vikhroli' in city or 'Ghatkopar' in city
          or 'Navi Mumbai Panvel' in city or 'Panchgani' in city or 'Bhiwandi' in city or 'Navi Mumbai' in city):
        return 'Mumbai'
    elif ('Bengaluru' in city or 'Bangalore Urban' in city or 'bangalore' in city or 'Bangalore Rural' in city):
        return 'Bengaluru'
    elif ('Delhi NCR' in city or 'Delhi' in city or 'East Delhi' in city or 'West Delhi' in city 
          or 'Gautam Buddha Nagar' in city or 'Noida' in city or 'New Delhi' in city or 'North West Delhi' in city
          or 'Central Delhi' in city or 'North Delhi' in city or 'Greater Noida' in city 
          or 'South Delhi' in city or 'Pitampura' in city or 'North East Delhi' in city or 'Karol Bagh' in city or 'Gurgaon' in city or 'Noida' in city
         or "Rohini" in city or 'Greater Noida' in city or 'Ghaziabad' in city):
        return 'Delhi/ Delhi-NCR'
    elif ('Pune' in city or 'Hadapsar, Pune' in city or 'Pune Division' in city):
        return 'Pune'
    elif 'Kolkata' in city:
        return 'Kolkata'
    elif 'Chennai' in city:
        return 'Chennai'
    elif 'Hyderabad' in city:
        return 'Hyderabad'
    elif 'Ahmedabad' in city:
        return 'Ahmedabad'
    else:
        return 'Tier II & below'

In [36]:
# apply to column
df1['City_Updated'] = df1['City'].apply(get_city_name)

In [37]:
df1.sample(20)

,Payment,City,gender,Nature_Sign,Industry,Profession,Credit_Score,platform,device_model,income_lac,...,Credit_Card,Education_Loan,Gold_Loan,Other_loan,New_Age_Bucket,Industry_clean,Industry_Bucket,Profession_Bucket,Device_Brand,City_Updated
8738,Not Paid,Bengaluru,Male,Elephant,Software & IT Services,Software Developer,793.0,android,google::Pixel 7 Pro,53.30,...,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,software & it services,IT & Services,IT & Services,Others,Bengaluru
7357,Not Paid,Noida,Male,Whale,Health Care & Pharma,Physician,787.0,android,Xiaomi::2201122G,47.80,...,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,health care & pharma,Healthcare & Pharma,Others,Xiaomi/Redmi,Delhi/ Delhi-NCR
6382,Not Paid,Bhadrak,Male,Turtle,BFSI,Branch Operations Manager,800.0,android,samsung::SM-S901E,17.00,...,0.0,0.0,0.0,700000.0,35 yrs to 44 yrs,bfsi,Finance,Others,Samsung,Tier II & below
8161,Not Paid,Mumbai,Male,Lion,Software & IT Services,Human Resources,728.0,android,realme::RMX3998,8.23,...,0.0,0.0,97000.0,752300.0,35 yrs to 44 yrs,software & it services,IT & Services,Others,Others,Mumbai
1658,Not Paid,Varanasi,Male,Horse,Others,Others,762.0,android,Redmi::M2101K6P,12.00,...,0.0,0.0,0.0,405000.0,25 yrs to 34 yrs,others,Others,Others,Xiaomi/Redmi,Tier II & below
619,Not Paid,Bengaluru,Male,Turtle,Software & IT Services,Software Developer,750.0,android,samsung::SM-A336E,24.00,...,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,software & it services,IT & Services,IT & Services,Samsung,Bengaluru
2607,Not Paid,Gurgaon,Male,Turtle,BFSI,Credit Analyst,686.0,android,xiaomi::Redmi Note 8,9.50,...,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,bfsi,Finance,Others,Xiaomi/Redmi,Delhi/ Delhi-NCR
701,Not Paid,Chennai,Male,Lion,NaN,NaN,829.0,ios,iPhone13,28.00,...,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,nan,Others,Others,Apple,Chennai
9262,Not Paid,Noida,Male,Turtle,Software & IT Services,Software Developer,750.0,android,motorola::moto g82 5G,30.00,...,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,software & it services,IT & Services,IT & Services,Others,Delhi/ Delhi-NCR
7371,Not Paid,Pune,Male,Turtle,NaN,NaN,877.0,ios,iPhone13,40.00,...,0.0,0.0,0.0,2100000.0,35 yrs to 44 yrs,nan,Others,Others,Apple,Pune
3304,Not Paid,Bengaluru,Male,Lion,NaN,NaN,857.0,ios,iPhoneSE2ndGen,15.00,...,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,nan,Others,Others,Apple,Bengaluru
2156,Not Paid,Bengaluru,Female,Horse,BFSI,Program manager,800.0,ios,iPhone12,22.00,...,0.0,0.0,800000.0,0.0,45 yrs & Above,bfsi,Finance,Others,Apple,Bengaluru
6141,Not Paid,Bengaluru,Male,Turtle,Construction,Electrical Engineer,812.0,android,OnePlus::AC2001,12.00,...,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,construction,Construction & Real Estate,Manufacturing,One-plus,Bengaluru
6357,Not Paid,Bengaluru,Male,Elephant,Software & IT Services,IT Consultant,800.0,ios,iPhoneXR,33.35,...,0.0,0.0,0.0,0.0,45 yrs & Above,software & it services,IT & Services,IT & Services,Apple,Bengaluru
7047,Not Paid,Bangalore,Female,Tiger,NaN,NaN,675.0,android,OnePlus::NE2211,28.00,...,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,nan,Others,Others,One-plus,Tier II & below
7924,Paid_ Very Positive,Navi Mumbai,Male,Turtle,Entertainment,Director,814.0,android,Redmi::M2101K6P,61.20,...,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,entertainment,Media & Entertainment,Others,Xiaomi/Redmi,Mumbai
5960,Not Paid,Bengaluru,Male,Lion,Software & IT Services,Software Engg,781.0,ios,iPhone13,10.00,...,0.0,0.0,0.0,0.0,24 yrs and below,software & it services,IT & Services,IT & Services,Apple,Bengaluru
8982,Not Paid,Mumbai,Male,Turtle,Media & Communications,Technical Director,780.0,ios,iPhone11,24.00,...,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,media & communications,Media & Entertainment,Others,Apple,Mumbai
374,Not Paid,Silchar,Male,Whale,E Commerece,Business,NaN,NaN,NaN,3.60,...,0.0,0.0,0.0,0.0,25 yrs to 34 yrs,e commerece,IT & Services,Others,Unknown,Tier II & below
6667,Not Paid,Bengaluru,Female,Eagle,Software & IT Services,Cloud Architect,842.0,ios,iPhone12,27.60,...,0.0,0.0,0.0,0.0,35 yrs to 44 yrs,software & it services,IT & Services,IT & Services,Apple,Bengaluru

## The final dataset.

### RE_Residential and RE_Commercial are grouped under the Real Estate column.

### Equity_MF, Equity_ESOPs, and Equity_Stocks are grouped under the Equity column.

###  Debt_EPF, Debt_FD, Debt_GovtSchemes, Debt_HybridMF, Debt_MF, Debt_NPS, Debt_Other, Debt_PPF, and Debt_Saving are grouped under the Debt column.

###  Gold_Digital, Gold_Physical, and Gold_SGB are grouped under the Gold column.

###  AltInv_Crypto, AltInv_P2P_OR_LoansGiven, and AltInv_Silver are grouped under the Alt_Investment column.

###  Housing_Loan, Auto_Loan, Personal_Loan, Consumer_Loan, Credit_Card, Education_Loan, Gold_Loan, and Other_Loan are grouped under the Total_Liabilities column.

The Age column is represented under the New_Age_Bucket.

The Industry column is represented under the Industry_Bucket.

The Profession column is represented under the Profession_Bucket.

The Device_Model column is converted into Device_Brand.

The City column is represented under the City_Updated.

In [40]:
df1.columns

Index(['Payment', 'City', 'gender', 'Nature_Sign', 'Industry', 'Profession',
       'Credit_Score', 'platform', 'device_model', 'income_lac', 'assest_cr',
       'Liabilities_cr', 'VUA', 'FBS_Latest', 'Social_Generation',
       'City_Group', 'Income_Bucket', 'Age_Bucket', 'FBS_Bucket',
       'Cibil_Bucket', 'Total_Assets', 'Real_Estate', 'Equity', 'Debt', 'Gold',
       'Alt_Investments', 'non_Other', 'RE_Residential', 'RE_Commercial',
       'Equity_MF', 'Equity_ESOPs', 'Equity_Stocks', 'Debt_EPF', 'Debt_FD',
       'Debt_GovtSchemes', 'Debt_HybridMF', 'Debt_MF', 'Debt_NPS',
       'Debt_Other', 'Debt_PPF', 'Debt_Saving', 'Gold_Digital',
       'Gold_Physical', 'Gold_SGB', 'AltInv_Crypto',
       'AltInv_P2P_OR_LoansGiven', 'AltInv_Silver', 'Total_Liabilities',
       'Housing_Loan', 'Auto_Loan', 'Personal_Loan', 'Consumer_Loan',
       'Credit_Card', 'Education_Loan', 'Gold_Loan', 'Other_loan',
       'New_Age_Bucket', 'Industry_clean', 'Industry_Bucket',
       'Profession_Bucket', 'Device_Brand', 'City_Updated'],
      dtype='object')

In [41]:
df1 =df1.drop(columns=['City','Industry', 'Profession','device_model'])

In [43]:
# drop RE_Residential and RE_Commercial are grouped under the Real Estate column.
df1 =df1.drop(columns=['RE_Residential', 'RE_Commercial'])

In [44]:
# drop Equity_MF, Equity_ESOPs, and Equity_Stocks are grouped under the Equity column.
df1 = df1.drop(columns=['Equity_MF', 'Equity_ESOPs', 'Equity_Stocks'])

In [45]:
# drop Debt_EPF, Debt_FD, Debt_GovtSchemes, Debt_HybridMF, Debt_MF, Debt_NPS, Debt_Other, Debt_PPF, and Debt_Saving are grouped under the Debt column.
df1 =df1.drop(columns=['Debt_EPF', 'Debt_FD', 'Debt_GovtSchemes', 'Debt_HybridMF', 'Debt_MF', 'Debt_NPS','Debt_Other', 'Debt_PPF', 'Debt_Saving'])

In [46]:
# drop Gold_Digital, Gold_Physical, and Gold_SGB are grouped under the Gold column.
df1 =df1.drop(columns=['Gold_Digital','Gold_Physical', 'Gold_SGB'])

In [47]:
# drop AltInv_Crypto, AltInv_P2P_OR_LoansGiven, and AltInv_Silver are grouped under the Alt_Investment column.
df1 =df1.drop(columns=['AltInv_Crypto','AltInv_P2P_OR_LoansGiven', 'AltInv_Silver'])

In [48]:
# drop Housing_Loan, Auto_Loan, Personal_Loan, Consumer_Loan, Credit_Card, 
#Education_Loan, Gold_Loan, and Other_Loan are grouped under the Total_Liabilities column.
df1 =df1.drop(columns=['Housing_Loan', 'Auto_Loan', 'Personal_Loan', 'Consumer_Loan','Credit_Card', 'Education_Loan', 'Gold_Loan', 'Other_loan'])

In [50]:
df1.columns

Index(['Payment', 'gender', 'Nature_Sign', 'Credit_Score', 'platform',
       'income_lac', 'assest_cr', 'Liabilities_cr', 'VUA', 'FBS_Latest',
       'Social_Generation', 'City_Group', 'Income_Bucket', 'Age_Bucket',
       'FBS_Bucket', 'Cibil_Bucket', 'Total_Assets', 'Real_Estate', 'Equity',
       'Debt', 'Gold', 'Alt_Investments', 'non_Other', 'Total_Liabilities',
       'New_Age_Bucket', 'Industry_clean', 'Industry_Bucket',
       'Profession_Bucket', 'Device_Brand', 'City_Updated'],
      dtype='object')

In [51]:
df1 = df1.drop(columns=['Industry_clean'])

In [53]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9610 entries, 0 to 9609
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Payment            9610 non-null   object
 1   gender             9610 non-null   object
 2   Nature_Sign        9610 non-null   object
 3   Credit_Score       8758 non-null   float64
 4   platform           9443 non-null   object
 5   income_lac         9610 non-null   float64
 6   assest_cr          9605 non-null   float64
 7   Liabilities_cr     9479 non-null   float64
 8   VUA                9605 non-null   float64
 9   FBS_Latest         9577 non-null   float64
 10  Social_Generation  9610 non-null   object
 11  City_Group         9610 non-null   object
 12  Income_Bucket      9610 non-null   object
 13  Age_Bucket         9610 non-null   object
 14  FBS_Bucket         9610 non-null   object
 15  Cibil_Bucket       8758 non-null   object
 16  Total_Assets       9605 non-null   float64
 17  Real_Estate        9605 non-null   float64
 18  Equity             9605 non-null   float64
 19  Debt               9605 non-null   float64
 20  Gold               9605 non-null   float64
 21  Alt_Investments    9605 non-null   float64
 22  non_Other          9605 non-null   float64
 23  Total_Liabilities  9479 non-null   float64
 24  New_Age_Bucket     9610 non-null   object
 25  Industry_Bucket    9610 non-null   object
 26  Profession_Bucket  9610 non-null   object
 27  Device_Brand       9610 non-null   object
 28  City_Updated       9610 non-null   object
dtypes: float64(14), object(15)
memory usage: 2.1+ MB

In [54]:
df1.isna().sum()

Payment                0
gender                 0
Nature_Sign            0
Credit_Score         852
platform             167
income_lac             0
assest_cr              5
Liabilities_cr       131
VUA                    5
FBS_Latest            33
Social_Generation      0
City_Group             0
Income_Bucket          0
Age_Bucket             0
FBS_Bucket             0
Cibil_Bucket         852
Total_Assets           5
Real_Estate            5
Equity                 5
Debt                   5
Gold                   5
Alt_Investments        5
non_Other              5
Total_Liabilities    131
New_Age_Bucket         0
Industry_Bucket        0
Profession_Bucket      0
Device_Brand           0
City_Updated           0
dtype: int64